<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>FAQ</title>
    <link rel="stylesheet" th:href="@{/css/admin/FAQ.css}">
    <link rel="stylesheet" th:href="@{/css/admin/Header.css}">
</head>
<body>
<div th:replace="~{/admin/Header :: header}"></div>

<div class="main">
    <div class="main-container">

        <div class="main-container-title">
            <div class="main-container-title-container">
                <h2 class="title">
                    <span class="title-content">
                        자주묻는질문
                    </span>
                </h2>
            </div>
        </div>


        <div class="main-container-title">
            <div class="main-container-title-container">
                <h3>
                    <span class="title-content">
                        가장 많이 들어 온 질문
                    </span>
                </h3>
            </div>
        </div>
        <div class="FAQ-container">
            <ul>
                <li><a th:href="@{/admin/FAQDetail/1}" th:text="${faqs[1].FAQTitle}"></a></li>
                <li><a th:href="@{/admin/FAQDetail/2}" th:text="${faqs[2].FAQTitle}"></a></li>
                <li><a th:href="@{/admin/FAQDetail/3}" th:text="${faqs[3].FAQTitle}"></a></li>
            </ul>
        </div>


        <div class="main-container-list">
            <table class="list-container">
                <thead>
                    <tr>
                        <th style="width: 9%">번호</th>
                        <th style="width: 80%">제목</th>
                        <th style="width: 11%">등록일</th>
                    </tr>
                </thead>


                <tbody>
                    <tr th:each="faq : ${faqs}" th:object="${faq}">
                        <td th:text="*{FAQId}" class="list-num"></td>
                        <td class="list-title"><a th:text="*{FAQTitle}" th:href="@{/admin/FAQDetail/{FAQId}(FAQId=*{FAQId})}"></a></td>
                        <td th:text="*{#temporals.format(FAQUpdateDate, 'MM-dd')}" class="list-date"></td>
                    </tr>
                </tbody>
            </table>

<!--            이건 일단 보류    -->
            <div class="write-box">ㅋ
                <a href="#">글쓰기</a>
            </div>
<!--            이건 일단 보류    -->

            <ul class="list-number pagination">
                <li th:class="${currentPage == 1} ? 'page-item disabled' : 'page-item'">
                    <a th:href="@{/admin/FAQ(pageNo=${currentPage - 1}, pageSize=${pageSize})}" class="page-link" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li th:each="i : ${#numbers.sequence(startPage, endPage)}" th:class="${currentPage == i} ? 'page-item active' : 'page-item'">
                    <a th:href="@{/admin/FAQ(pageNo=${i}, pageSize=${pageSize})}" class="page-link" th:text="${i}"></a>
                </li>
                <li th:class="${currentPage == totalPages} ? 'page-item disabled' : 'page-item'">
                    <a th:href="@{/admin/FAQ(pageNo=${currentPage + 1}, pageSize=${pageSize})}" class="page-link" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
</body>
</html>