<!DOCTYPE html>
<html lang="en" xmlns="" xmlns="">
<head>
    <meta charset="UTF-8">
    <title>FAQ</title>
    <link rel="stylesheet" th:href="@{/css/admin/Noti.css}">
    <link rel="stylesheet" th:href="@{/css/admin/Header.css}">
</head>
<body>
<div th:replace="~{/Header :: header}"></div>

<!--<header id="header">-->
<!--    <div class="global-nav-bar">-->
<!--        <div class="desktop-header">-->
<!--            <div class="header-left">-->
<!--                <img src="../../static/img/pro_logo.png" alt="로고" id="logo" style="width: 100px;height: 80px; margin:0  8px 5px 0 ;">-->
<!--            </div>-->

<!--            <div class="header-right">-->
<!--                <div class="nav-list">-->
<!--                    <span class="nav-item">-->
<!--                        <a href="#">공지사항</a>-->
<!--                    </span>-->
<!--                    <span class="nav-item right-item">-->
<!--                        <a href="#">FAQ</a>-->
<!--                    </span>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</header>-->

<div class="main">
    <div class="main-container">

        <div class="main-container-title">
            <div class="main-container-title-container">
                <h2 class="title">
                    <span class="title-content">
                        자주묻는질문
                    </span>
                </h2>
            </div>
        </div>


        <div class="main-container-title">
            <div class="main-container-title-container">
                <h3>
                    <span class="title-content">
                        가장 많이 들어 온 질문
                    </span>
                </h3>
            </div>
        </div>
        <div class="FAQ-container">
            <ul>
                <li><a href="#">1. 예시 질문입니다.</a></li>
                <li><a href="#">2. 예시 질문입니다.</a></li>
                <li><a href="#">3. 예시 질문입니다.</a></li>
            </ul>
        </div>


        <div class="main-container-list">
            <table class="list-container">
                <thead>
                    <tr>
                        <th style="width: 9%">번호</th>
                        <th style="width: 80%">제목</th>
                        <th style="width: 11%">등록일</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="list-num">1</td>
                        <td class="list-title"><a href="#">샘플용 제목입니다.</a></td>
                        <td class="list-date">01-01</td>
                    </tr>
                </tbody>

<!--                더미데이터 시작        -->
                <tbody>
                <tr>
                    <td class="list-num">2</td>
                    <td class="list-title"><a href="#">샘플용 제목입니다.</a></td>
                    <td class="list-date">01-01</td>
                </tr>
                </tbody>
                <tbody>
                <tr>
                    <td class="list-num">3</td>
                    <td class="list-title"><a href="#">샘플용 제목입니다.</a></td>
                    <td class="list-date">01-01</td>
                </tr>
                </tbody>
                <tbody>
                <tr>
                    <td class="list-num">4</td>
                    <td class="list-title"><a href="#">샘플용 제목입니다.</a></td>
                    <td class="list-date">01-01</td>
                </tr>
                </tbody>
                <tbody>
                <tr>
                    <td class="list-num">5</td>
                    <td class="list-title"><a href="#">샘플용 제목입니다.</a></td>
                    <td class="list-date">01-01</td>
                </tr>
                </tbody>
                <tbody>
                <tr>
                    <td class="list-num">6</td>
                    <td class="list-title"><a href="#">샘플용 제목입니다.</a></td>
                    <td class="list-date">01-01</td>
                </tr>
                </tbody>
                <tbody>
                <tr>
                    <td class="list-num">7</td>
                    <td class="list-title"><a href="#">샘플용 제목입니다.</a></td>
                    <td class="list-date">01-01</td>
                </tr>
                </tbody>
                <tbody>
                <tr>
                    <td class="list-num">8</td>
                    <td class="list-title"><a href="#">샘플용 제목입니다.</a></td>
                    <td class="list-date">01-01</td>
                </tr>
                </tbody>
            </table>
            <div class="write-box">
                <a href="#">글쓰기</a>
            </div>
            <ul class="list-number">
                <li class="page-item">
                    <a class="page-link" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>

                <li class="page-item">
                    <a class="page-link">1</a>
                    <a class="page-link">2</a>
                    <a class="page-link">3</a>
                    <a class="page-link">4</a>
                    <a class="page-link">5</a>
                </li>
                <li class="page-item">
                    <a class="page-link" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
</body>
</html>