<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>자주묻는질문</title>
    <link rel="stylesheet" href="../../static/css/admin/FAQDetail.css">
</head>
<body>

<div class="main">
    <div class="article-sidebar">
        <h3>
           질문 목록
        </h3>
        <ul>
            <li>
                <a href="#" class="sidebar-item">여기에는 어떤 서비스가 있나요?</a>
            </li>
        </ul>
        <ul>
            <li>
                <a href="#" class="sidebar-item">비밀번호가 기억나지 않아요</a>
            </li>
        </ul>
        <ul>
            <li>
                <a href="#" class="sidebar-item">프로/유저는 어떻게 거래하나요 </a>
            </li>
        </ul>
        <ul>
            <li>
                <a href="#" class="sidebar-item">제가 제공하고 싶은 서비스가 없어요</a>
            </li>
        </ul>
        <ul>
            <li>
                <a href="#" class="sidebar-item">프로로 바로 활동할 수 있나요?</a>
            </li>
        </ul>
        <ul>
            <li>
                <a href="#" class="sidebar-item">프로 인증은 어떻게 진행되나요?</a>
            </li>
        </ul>
    </div>
    <div class="article">
        <div class="FAQ">
            <h1>자주묻는질문</h1>
        </div>
        <div class="article-title">
            <h3>
                숨고를 통해 고수/고객과 연결되면 수수료가 있나요?
            </h3>
            <div class="article-date">
                01-01
            </div>
        </div>
        <div class="article-content">
            <div>
                숨고를 통해 고수와 거래를 하더라도 고객에게 수수료가 부과되지 않습니다.<br><br>
                고객이 서비스 요청서를 작성하면 적합한 고수에게 전달되고, 고수는 요청서를 확인한 후 견적을 보냅니다.<br><br>
                고수와 고객은 채팅과 안심번호 통화를 통해 고용을 확정할 수 있습니다.<br><br>
                이 때 고객이 숨고페이 안전거래로 서비스 대금을 결제하면 3.5% 수수료가 발생합니다.<br><br><br>
                🏷️ 숨고페이는 어떻게 사용하나요?<br><br><br>
                다만, 고수가 고객에게 견적을 보내고, 상담을 시작하는 것은 유료입니다.<br><br>
                고용 의사가 전혀 없는 상태에서 견적만을 알아보기 위해 요청서를 남발하는 것은 자제해 주세요.
            </div>
        </div>
        <div class="article-bottom-menu">
            <a href="#">목록</a>
        </div>
    </div>
</div>
<div>

</div>
</body>
</html>