<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Header</title>
    <link rel="stylesheet" href="../../static/css/admin/Header.css">
</head>
<body>
<div class="header">
    <div class="in-header">
        <div class="logo">
<!--            로그인이 안되어있으므로 로그인 페이지로 가야된다.    -->
            <a href="#">
                <img src="https://help.soomgo.com/hc/theming_assets/01HZM2PTPGGCP4P9CXADCNWPWC" alt="로고">
            </a>
            <div class="navigation">
                <a href="#">
                    견적 요청
                </a>
                <a href="#">
                    프로 찾기
                </a>
                <a href="#">
                    커뮤니티
                </a>

            </div>
        </div>
        <div class="nav-wrapper">
            <div class="right-box">
                <a href="#">
                    로그인
                </a>
                <a href="#">
                    회원가입
                </a>
            </div>
        </div>
    </div>
<!--    경계선     -->
    <div class="container-divider"></div>
    <div class="container-blank"></div>
</div>
</body>
</html>