<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Header</title>
    <link rel="stylesheet" href="../../static/css/admin/Header.css">
</head>
<body>
<header id="header">
    <div class="global-nav-bar">
        <div class="desktop-header">
            <div class="header-left">
                <img src="../../static/img/pro_logo.png" alt="로고" id="logo" style="width: 100px;height: 80px; margin:0  8px 5px 0 ;">
            </div>

            <div class="header-right">
                <div class="nav-list">
                    <span class="nav-item">
                        <a href="#">공지사항</a>
                    </span>
                    <span class="nav-item right-item">
                        <a href="#">FAQ</a>
                    </span>
                </div>
            </div>
        </div>
    </div>
</header>
</body>
</html>