<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Header</title>
</head>
<body>
<div th:fragment="header">
    <div class="global-nav-bar">
        <div class="desktop-header">
            <div class="header-left" style="padding-top: 0.9rem">
                <a th:href="@{/main/user}" th:if="${session.proName}==null">
                    <img th:src="@{/img/pro_logo.png}" alt="로고" id="logo" style="width: 100px;height: 80px; margin:0  8px 5px 0 ;"  >
                </a>
                <a th:href="@{/main/pro}" th:unless="${session.proName}==null">
                    <img th:src="@{/img/pro_logo.png}" alt="로고" id="logo" style="width: 100px;height: 80px; margin:0  8px 5px 0 ;">
                </a>


            </div>

            <div class="header-right">
                <div class="nav-list">
                    <span class="nav-item">
                        <a th:href="@{/noti}">공지사항</a>
                    </span>
                    <span class="nav-item right-item">
                        <a th:href="@{/faq}">FAQ</a>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>