<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title>공지게시판</title>
    <link rel="stylesheet" th:href="@{/css/admin/Header.css}">
    <link rel="stylesheet" th:href="@{/css/main/common.css}">
    <link rel="stylesheet" th:href="@{/css/admin/Noti.css}">
</head>
<body>
<div th:replace="~{/admin/Header :: header}"></div>

<div class="main">
    <div class="main-container">
        <div class="main-container-title">
            <div class="main-container-title-container">
                <h2 class="title">
                    <span class="title-content">
                        공지사항
                    </span>
                </h2>
            </div>
        </div>
        <div class="main-container-list">
            <table class="list-container">
                <thead>
                    <tr>
                        <th style="width: 9%">번호</th>
                        <th style="width: 80%">제목</th>
                        <th style="width: 11%">등록일</th>
                    </tr>
                </thead>

                <tbody>
                    <tr th:each="noti : ${notis}" th:object="${noti}">
                        <td th:text="*{notiId}" class="list-num"></td>
                        <td class="list-title"><a th:text="*{notiTitle}" th:href="@{/notiDetail/{notiId}(notiId=*{notiId})}"></a></td>
                        <td th:text="*{#temporals.format(notiUpdateDate, 'MM-dd')}" class="list-date"></td>
                    </tr>
                </tbody>

            </table>
<!--            이건 일단 보류    -->
            <div class="write-box" style="display: none">
                <a href="#">글쓰기</a>
            </div>
<!--            이건 일단 보류    -->

            <ul class="list-number pagination">
                <li th:class="${currentPage == 1} ? 'page-item disabled' : 'page-item'">
                    <a th:href="@{/noti(pageNo=${currentPage - 1}, pageSize=${pageSize})}" class="page-link" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li th:each="i : ${#numbers.sequence(startPage, endPage)}" th:class="${currentPage == i} ? 'page-item active' : 'page-item'">
                    <a th:href="@{/noti(pageNo=${i}, pageSize=${pageSize})}" class="page-link" th:text="${i}"></a>
                </li>
                <li th:class="${currentPage == totalPages} ? 'page-item disabled' : 'page-item'">
                    <a th:href="@{/noti(pageNo=${currentPage + 1}, pageSize=${pageSize})}" class="page-link" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
</body>
</html>