<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>공지게시판</title>
    <link rel="stylesheet" th:href="@{/css/admin/Noti.css}">
    <link rel="stylesheet" th:href="@{/css/admin/Header.css}">
</head>
<body>
<div th:replace="~{/Header :: header}"></div>

<!--<header id="header">-->
<!--    <div class="global-nav-bar">-->
<!--        <div class="desktop-header">-->
<!--            <div class="header-left">-->
<!--                <img src="../../static/img/pro_logo.png" alt="로고" id="logo" style="width: 100px;height: 80px; margin:0  8px 5px 0 ;">-->
<!--            </div>-->

<!--            <div class="header-right">-->
<!--                <div class="nav-list">-->
<!--                    <span class="nav-item">-->
<!--                        <a href="#">공지사항</a>-->
<!--                    </span>-->
<!--                    <span class="nav-item right-item">-->
<!--                        <a href="#">FAQ</a>-->
<!--                    </span>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</header>-->


<div class="main">
    <div class="main-container">
        <div class="main-container-title">
            <div class="main-container-title-container">
                <h2 class="title">
                    <span class="title-content">
                        공지사항
                    </span>
                </h2>
            </div>
        </div>
        <div class="main-container-list">
            <table class="list-container">
                <thead>
                    <tr>
                        <th style="width: 9%">번호</th>
                        <th style="width: 80%">제목</th>
                        <th style="width: 11%">등록일</th>
                    </tr>
                </thead>

                <tbody>
                    <tr th:each="noti : ${notis}" th:object="${noti}">
                        <td th:text="*{NotiId}" class="list-num">1</td>
                        <td class="list-title"><a th:href="@{/Notidetail/{NotiId}(NotiId=*{NotiId})}"></a></td>
                        <td th:text="*{#temporals.format(boardUpdateDate, 'yy년 M월 d일 HH시 mm분')}" class="list-date"></td>
                    </tr>
                </tbody>

            </table>
            <div class="write-box">
                <a href="#">글쓰기</a>
            </div>
            <ul class="list-number">
                <li th:classappend="${startPage == 1} ? 'disabled' : ''" class="page-item">
                    <a class="page-link" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li th:each="i : ${#numbers.sequence(startPage, endPage)}" th:classappend="${currentPage == i} ? 'active' : ''" class="page-item">
                    <a th:href="@{/admin/Noti(pageNo=${i}, pageSize=${pageSize})}" class="page-link" th:text="${i}"></a>
                </li>
                <li th:classappend="${endPage == totalPages} ? 'disabled' : ''" class="page-item">
                    <a class="page-link" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>


</body>
</html>