<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>공지상세게시판</title>
    <link rel="stylesheet" th:href="@{/css/admin/Header.css}">
    <link rel="stylesheet" th:href="@{/css/main/common.css}">
    <link rel="stylesheet" th:href="@{/css/admin/NotiDetail.css}">

</head>
<body>
<div th:replace="~{/admin/Header :: header}"></div>

<div class="main">
    <div class="article-sidebar">
        <h3>
            최근 공지 목록
        </h3>
        <ul>
            <li th:each="notiRe : ${notiRecent}" th:object="${notiRe}">
                <a th:text="*{notiTitle}" th:href="@{/admin/NotiDetail/{notiId}(notiId=*{notiId})}" class="sidebar-item"></a>
            </li>
        </ul>
    </div>
    <div class="article" th:object="${noti}">
        <div class="Noti">
            <h1>공지사항</h1>
        </div>
        <div class="article-title">
            <h3>
                <div th:utext="*{notiTitle}"></div>
            </h3>
            <div class="article-date">
                <div th:utext="*{#temporals.format(notiRegisterDate, 'MM-dd')}"></div>
            </div>
        </div>
        <div class="article-content">
            <div th:utext="*{notiContent}"></div>
        </div>
        <div class="article-bottom-menu">
            <a th:href="@{/noti}">목록</a>
        </div>
    </div>
</div>
</body>
</html>