@font-face {
  font-family: 'Interop';
  src: url('https://raw.githubusercontent.com/payw-org/Interop/main/web/fonts/Interop-Regular.woff2')
      format('woff2'),
    url('https://raw.githubusercontent.com/payw-org/Interop/main/web/fonts/Interop-Regular.woff')
      format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
*{
  box-sizing: border-box;
  font-weight: 400;
  
}
body{
  margin: 0;
  font-family: Interop, sans-serif;
}
a{
  text-decoration: none;
  color: inherit !important;
  cursor: pointer;
  &:hover{
    font-weight: bolder;
  }
}
button{
  font-family: Interop, sans-serif;
}


ul, ol {
  padding: 0;
  list-style-type: none;
}
/* input number타입 화살표없앰 */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type='number'] {
  -moz-appearance: textfield;
}
