a{
    text-decoration: none;
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

li{
    list-style: none;
}

/*  ------------------------------------------------------------------------------------------------  */
.main{
    padding: 0 0 20px;
    width: 100%;
    background-color: #fff;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    justify-content: center;
}

.article-sidebar{
    grid-column: 2 / span 1;
    margin-top:60px;
    margin-right:10px;
    border: 0;
    height: auto;
    max-height: none;
    padding: 0;
}

.sidebar-item{
    border-radius: 4px;
    color: #363a3c;
    display: block;
    font-weight: 400;
    margin-bottom: 30px;
}

.Noti h1{
    font-size: 24px;
}

.article{
    grid-column: 3 / span 4;
    width: 100%;
}

.article-title{
    display: flex;
    justify-content: space-between;
    margin: 0 0 20px 0;
    background: #f8f8f8;
    border-bottom: 1px solid #ccc;
}

.article-title h3{
    margin-left: 30px;
    font-size: 16px;
    border: none;
    padding: 0;
    background: inherit;
    font-weight: bold;
}

.article-date{
    width: 40%;
    text-align: right;
    font-size: 13px;
    align-content: center;
    margin-right: 10px;
}

.article-content{
    margin: 0 auto 100px;
    width: calc(100% - 59px);
}

.article-bottom-menu{
    text-align: center;
}

.article-bottom-menu a{
    padding: 0 25px;
    background: #444;
    border: 1px solid #303030;
    color: #fff;
    display: inline-block;
    height: 30px;
    border-radius: 3px;
    box-sizing: border-box;
    line-height: 30px;

}