<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>커뮤니티 글 작성</title>
    <link rel="stylesheet" th:href="@{/css/layout/header.css}">
    <link rel="stylesheet" th:href="@{/css/main/common.css}">
    <link rel="stylesheet" th:href="@{/css/board/write.css}">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.18/summernote-lite.min.css" rel="stylesheet">
</head>
<body>
<div th:replace="~{/layout/header :: header}"></div>

<div class="main">
    <form method="post" enctype="multipart/form-data" th:action="@{/community/write}" th:object="${communityInfo}">
        <div style="display: flex">
            <div class="write-box">
                <div class="title-info">
                    제목 :
                </div>
                <label class="title-input">
                    <input type="text" th:field="*{communityTitle}">
                </label>
            </div>
            <div class="write-box">
                <div class="title-info">
                    게시판 선택 :
                </div>
                <label class="service-area" for="subject">
                    <select class="service-part" name="subject" id="subject" aria-required="false">
                        <option th:selected="${communityInfo.subject == '자유게시판'}" value="자유게시판">자유게시판</option>
                        <option th:if="${communityInfo.proId != null}" th:selected="${communityInfo.subject == '전문가팁'}" value="전문가팁">전문가 팁</option>
                    </select>

                </label>
            </div>
        </div>
        <div class="content">
            <textarea rows="6" placeholder="Content" style="resize: none;" th:field="*{communityContent}"></textarea>
        </div>
        <div class="content-footer">
            <button type="submit" th:unless="*{communityId != null}">작성 완료</button>
            <button type="submit" th:if="*{communityId != null}">수정 완료</button>
            <button type="button" id="backBtn">취소</button>


        </div>

        <!--        작성자-->
        <input type="hidden" th:value="*{userId}" name="userId">
        <input type="hidden" th:if="*{communityId != null}" th:value="*{communityId}" name="communityId">



    </form>

</div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.18/summernote-lite.min.js"></script>

<script>

    document.getElementById('backBtn').addEventListener('click',function (){
        window.history.back();
    });


    $(document).ready(function() {
        initializeSummernote();
    });

    function initializeSummernote() {
        $('#communityContent').summernote({ //#communityContent id를 가진 요소를 서머노트 에디터로 초기화함
            tabsize: 2, //탭 문자를 몇개의 공백문자로 치환할지
            placeholder: '내용을 입력하세요', //에디터에 표시할 placeholder
            callbacks: { //이미지 업로드시 호출되는 콜백함수 설정
                onImageUpload: function(files) { //사용자가 이미지파일 업로드할때마다 실행
                    for (let i = 0; i < files.length; i++) {
                        uploadImage(files[i], this);
                    }
                }
            }
        });
    }

    function uploadImage(file) {
        let data = new FormData();
        data.append("file", file);
        $.ajax({
            url: '/upload/image', //이미지업로드 처리하는 컨트롤러 주소
            cache: false, //캐시 데이터 사용하지 않음
            contentType: false, //파일 업로드 시, 헤더가 파일로 자동으로 설정되게함
            processData: false, //문자열로 바뀌지 않게끔 하는 과정
            enctype : 'multipart/form-data',
            data: data,
            method: "post",
            success: function(url) {
                // console.log(url)
                insertImageToSummernote(url);
            },
            error: function(data) {
                console.error(data);
            }
        });
    }

    function insertImageToSummernote(url) { //uploadImage함수 요청 성공시 호출됨
        const img = document.createElement('img'); //이미지 요소생성
        img.src = url;
        img.style.width = '50%'; //화면에 표시할 이미지 너비
        $('#communityContent').summernote('insertNode', img);
    }
</script>
</html>