<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>로그인 전 헤더</title>
<!--  <link rel="stylesheet" th:href="@{/css/layout/header.css}">-->
<!--  <link rel="stylesheet" th:href="@{/css/main/common.css}">-->
</head>
<body>
  <div id="header" th:fragment="header">
    <div class="global-nav-bar">
        <div class="desktop-header">
            <div class="header-left">
              <a th:href="@{/main}">
                <img th:src="@{/img/user_logo.png}" alt="로고" id="logo" style="width: 100px;height: 80px; margin:1px  8px 0px 0 ;vertical-align: middle;">
              </a>
                <div class="nav-list">
                    <a href="/templates/main/user_receiveform.html"><span class="nav-item">견적요청</span></a>
                    <a th:href="@{/user/proFind}"><span class="nav-item left-items">전문가찾기</span></a>
                    <a href="/templates/common(1)/Community.html"><span class="nav-item left-items">커뮤니티</span></a>
                </div>
            </div>

            <div class="header-right" sec:authorize="!isAuthenticated()">
                <div class="nav-list">
                    <span class="nav-item">
                        <a th:href="@{/main/login}" >로그인/회원가입</a>
                    </span>
                </div>
            </div>
            <div class="header-right" sec:authorize="isAuthenticated()">
                <div class="nav-list">
                    <a th:href="@{/user/requests}"><span class="nav-item left-items">보낸요청/받은요청</span></a>
                    <a th:href="@{/pro/mypage/delete}"><span class="nav-item left-items">전문가 전환</span></a>
                    <a th:href="@{/user/mypage}" >


                        <div class="header_oneline">
                            <span th:text="${session.loginName}" class="nav-item left-items"></span>
                            <span class="nav-item">님</span>
                        </div>
                    </a>
                    <a href="/logout"><span class="nav-item left-items logout-btn">로그아웃</span></a>
                </div>
            </div>
        </div>
    </div>
  </div>
  
</body>
</html>