<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>로그인 전 헤더</title>
  <link rel="stylesheet" href="../../static/css/layout/header.css">
  <link rel="stylesheet" href="../../static/css/main/common.css">
</head>
<body>
  <header id="header">
    <div class="global-nav-bar">
        <div class="desktop-header">
            <div class="header-left">
              <a href="/templates/main/main.html">
                <img src="../../static/img/user_logo.png" alt="로고" id="logo" style="width: 100px;height: 80px; margin:0  8px 5px 0 ;">
              </a>
                <div class="nav-list">
                    <a href="/templates/main/user_receiveform.html"><span class="nav-item">견적요청</span></a>
                    <a href=""><span class="nav-item left-items">전문가찾기</span></a>
                    <a href="/templates/common(1)/Community.html"><span class="nav-item left-items">커뮤니티</span></a>
                </div>
            </div>

            <div class="header-right">
                <div class="nav-list">
                    <span class="nav-item">
                        <a href="/templates/main/login.html">로그인/회원가입</a>
                    </span>
                </div>
            </div>
        </div>
    </div>
  </header>
  
</body>
</html>