<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>로그인 전 헤더</title>
<!--  <link rel="stylesheet" th:href="@{/css/layout/header.css}">-->
<!--  <link rel="stylesheet" th:href="@{/css/main/common.css}">-->
</head>
<body>
    <div th:fragment="header" >
        <div id="header" th:if="${session.proName}==null">
            <div class="global-nav-bar">
                <div class="desktop-header">
                    <div class="header-left">
                        <a th:href="@{/main/user}">
                            <img th:src="@{/img/user_logo.png}" alt="로고" id="logo" style="width: 100px;height: 80px; margin:1px  8px 0px 0 ;vertical-align: middle;">
                        </a>
                        <div class="nav-list">
                            <span class="nav-item"> <a href="/templates/main/user_receiveform.html" >견적요청 </a></span>
                            <span class="nav-item left-items"><a th:href="@{/user/proFind}">전문가찾기</a></span>
                            <span class="nav-item left-items"><a th:href="@{/community}">커뮤니티</a></span>
                        </div>
                    </div>

                    <div class="header-right" sec:authorize="!isAuthenticated()">
                        <div class="nav-list">
                    <span class="nav-item">
                        <a th:href="@{/main/login}" >로그인/회원가입</a>
                    </span>
                        </div>
                    </div>
                    <div class="header-right" sec:authorize="isAuthenticated()">
                        <div class="nav-list" >
                            <div id="horizontal-underline"></div>
                            <span class="nav-item left-items"><a th:href="@{/user/requests}">보낸요청/받은요청</a></span>
                            <span class="nav-item left-items"><a th:unless="${session.userProApproval.equals('NO')}" id="movePro" th:href="@{/main/pro}" style="margin-right: 1.125rem">전문가 전환</a></span>
                                <div class="header_oneline">
                                    <span class="nav-item"><a th:href="@{/user/mypage}" th:text="${session.loginName}+님"></a></span>
                                </div>
                            <span class="nav-item left-items logout-btn"><a href="/logout">로그아웃</a></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="proheader" th:unless="${session.proName}==null">
            <div class="global-nav-bar">
                <div class="desktop-header">
                    <div class="header-left">
                        <a th:href="@{/main/pro}">
                            <img th:src="@{/img/pro_logo.png}" alt="로고" id="logo" style="width: 100px;height: 80px; margin:1px  8px 0px 0 ;vertical-align: middle;">
                        </a>
                        <div class="nav-list">
                            <span class="nav-item-pro"><a href="/templates/main/user_receiveform.html">서비스 올리기</a></span>
                            <span class="nav-item-pro left-items"><a href="">회원 찾기</a></span>
                            <span class="nav-item-pro left-items"><a th:href="@{/community}">커뮤니티</a></span>
                        </div>
                    </div>

                    <div class="header-right">
                        <div class="nav-list">
                            <span class="nav-item-pro left-items"><a href="/templates/common(2)/pro_received_req.html">보낸요청/받은요청</a></span>
                            <span class="nav-item-pro left-items"><a id="moveUser" th:href="@{/main/user}">회원 전환</a></span>
                                <div class="header_oneline">
                                    <span class="nav-item-pro left-items"><a th:href="@{/pro/mypage}" th:text="${session.proName}+ ' 전문가님' "></a></span>
                                </div>
                            <span class="nav-item-pro left-items logout-btn"><a href="/logout">로그아웃</a></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>