<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>전문가헤더</title>
<!--    <link rel="stylesheet" href="../../static/css/layout/header.css">-->
<!--    <link rel="stylesheet" href="../../static/css/main/common.css">-->
</head>
<body>
  <div id="header" th:fragment="proheader">
    <div class="global-nav-bar">
        <div class="desktop-header">
            <div class="header-left">
              <a th:href="@{/main}">
                  <img th:src="@{/img/pro_logo.png}" alt="로고" id="logo" style="width: 100px;height: 80px; margin:1px  8px 0px 0 ;vertical-align: middle;">
              </a>
                <div class="nav-list">
                    <a href="/templates/main/user_receiveform.html"><span class="nav-item">서비스 올리기</span></a>
                    <a th:href="@{/pro/userFind}"><span class="nav-item left-items">회원 찾기</span></a>
                    <a href="/templates/common(1)/Community.html"><span class="nav-item left-items">커뮤니티</span></a>
                </div>
            </div>

            <div class="header-right">
                <div class="nav-list">
                    <a href="/templates/common(2)/pro_received_req.html"><span class="nav-item left-items">보낸요청/받은요청</span></a>
                    <a th:href="@{/user/mypage}"><span class="nav-item left-items">회원 전환</span></a>
                    <div class="header_oneline">
                        <span th:text="${session.proName}" class="nav-item left-items"></span>
                        <span class="nav-item">전문가님</span>
                    </div>
                    <a href="#"><span class="nav-item left-items logout-btn">로그아웃</span></a>
                </div>
            </div>
        </div>
    </div>
  </div>

</body>
</html>