<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>고객찾기</title>
    <link rel="stylesheet" th:href="@{/css/pro/userfind/FindUser.css}">
    <link rel="stylesheet" th:href="@{/css/main/common.css}">
    <link rel="stylesheet" th:href="@{/css/layout/header.css}">
    <link rel="stylesheet" th:href="@{/css/user/req_list/pagination.css}">
</head>
<body>
<div th:replace="~{/layout/proheader :: header}"></div>
<div class="main">
    <div class="main-container">
        <div class="main-container-title">

<!--            커뮤니티 / 서비스,지역 선택 있는 맨 윗쪽 그곳     -->
            <div class="main-container-title-container">
                <h2 class="title">
                    <span class="title-content">
                        고객 찾기
                    </span>
                </h2>
                <div class="write-box">
                    <label class="service-area">
                        <select class="service-part">
                            <option>
                                서비스
                            </option>
                            <option>
                                이사/청소
                            </option>
                            <option>
                                설치/수리
                            </option>
                            <option>
                                인테리어
                            </option>
                            <option>
                                취미/자기개발
                            </option>
                            <option>
                                기타
                            </option>
                        </select>
                    </label>
                    <label class="service-area">
                        <select class="service-part">
                            <option>
                                지역
                            </option>
                            <option>
                                서울
                            </option>
                            <option>
                                대전
                            </option>
                            <option>
                                대구
                            </option>
                            <option>
                                부산
                            </option>
                            <option>
                                인천
                            </option>
                            <option>
                                기타
                            </option>
                        </select>
                    </label>
                </div>
            </div>
        </div>


        <!--            가운데 검색하는 그곳     -->

        <div class="search-bar-container">
            <div class="search-container">
                <div class="search-input">
                    <input name="search" type="text" onkeyup="enterkey()" placeholder="검색해보세요!" autocomplete="off">
                    <div class="delete-button">
                        <img src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAgMCAyNCAyNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KICAgIDxnIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0iZXZlbm9kZCI+CiAgICAgICAgPHBhdGggZD0iTTAgMGgyNHYyNEgweiIvPgogICAgICAgIDxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKDMgMykiPgogICAgICAgICAgICA8Y2lyY2xlIGZpbGw9IiNDNUM1QzUiIGN4PSI5IiBjeT0iOSIgcj0iOSIvPgogICAgICAgICAgICA8cGF0aCBzdHJva2U9IiNGRkYiIHN0cm9rZS13aWR0aD0iMS41IiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIGQ9Im02IDYgNi4wMDUgNi4wMDZNMTIuMDA1IDYgNiAxMi4wMDYiLz4KICAgICAgICA8L2c+CiAgICA8L2c+Cjwvc3ZnPgo=" alt="검색어 삭제아이콘">
                    </div>
                </div>
            </div>
            <button class="map-button">
                <i class="icon">
                    <svg width="20" height="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M21.25 5.57258V17.7169C21.25 18.4977 20.7327 19.1841 19.982 19.3992L15.6477 20.641C15.3287 20.7324 14.9903 20.7313 14.672 20.6376L9.01265 18.9734C8.9633 18.9589 8.91067 18.96 8.86195 18.9765L5.06119 20.2633C3.92652 20.6474 2.75 19.8036 2.75 18.6057V6.44955C2.75 5.68666 3.24421 5.01167 3.97148 4.78127L8.39965 3.37841C8.73568 3.27195 9.09602 3.26945 9.43349 3.37124L15.0845 5.07559C15.1324 5.09005 15.1836 5.08978 15.2313 5.07483L18.9773 3.90246C20.1043 3.54974 21.25 4.39165 21.25 5.57258ZM19.75 17.7169V5.57258C19.75 5.40388 19.5863 5.2836 19.4253 5.33399L15.8136 6.46434L15.8136 19.0332L19.5689 17.9572C19.6761 17.9265 19.75 17.8284 19.75 17.7169ZM14.3136 18.9687L9.62701 17.5906L9.62702 4.99634L14.3136 6.40983L14.3136 18.9687ZM8.12701 17.6417L8.12702 5.03825L4.4245 6.21123C4.3206 6.24414 4.25 6.34057 4.25 6.44955L4.25 18.6057C4.25 18.7768 4.41807 18.8974 4.58017 18.8425L8.12701 17.6417Z" stroke="black"></path>
                    </svg>
                </i>
                <span>
                    지도
                </span>
            </button>
        </div>


<!--        리스트 나열되어있는 그곳   -->
        <div class="community-container">
            <div class="content-layout">
                <div class="feed">
                    <ul class="feed-list">
<!--                        더미데이터 시작            -->


<!--                        더미데이터 끝                 -->
                    </ul>
                </div>
            </div>
        </div>
        <ul class="pagination">

        </ul>


    </div>
</div>


</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
    function enterkey() {
        if (window.event.keyCode == 13) {
            saveKeyword();
        }
    }

    const pageSize = 7;
    let search = null;

    // 날짜 포맷
    function formatDate(dateString) {
        const now = new Date();
        const commentDate = new Date(dateString); // 문자열을 Date 객체로 변환

        const nowYear = now.getFullYear();
        const nowMonth = now.getMonth();
        const nowDate = now.getDate();

        const commentYear = commentDate.getFullYear();
        const commentMonth = commentDate.getMonth();
        const commentDateDate = commentDate.getDate();

        let displayText = "";

        // 년, 월, 일이 모두 같은 경우 "오늘"로 표시
        // if (nowYear === commentYear && nowMonth === commentMonth && nowDate === commentDateDate) {
        //     displayText = "오늘";
        // } else {
        // 그 외의 경우, 정해진 포맷으로 표시
        const yy = commentYear.toString().slice(-2); // 마지막 두 자리를 가지고 옴.
        const M = commentMonth + 1; // 월은 0부터 시작하므로 1을 더해줍니다.
        const d = commentDateDate;
        const HH = commentDate.getHours().toString().padStart(2, '0');
        const mm = commentDate.getMinutes().toString().padStart(2, '0'); // 두자리 수 일 때 앞에 0을 붙임.

        displayText = `${yy}. ${M}. ${d}`;
        // }
        return displayText;
    }

    window.onload = function(){
        search = $('input[name="search"]').val();
        getList(1);
    }

    function getList(page){
        $.ajax({
            method : 'get',
            url : '/proRest/UserFind',
            data : {
                page : page,
                size : pageSize,
                search : search
            },
            success:function (data){
                // 리스트 뿌려주는 함수.
                renderUploadList(data.content);
                renderPagination(data)
            },
            error:function (){
                console.error('실패')
            }
        })
    }


    function renderUploadList(uploads){
        const uploadContainer = $('.feed ul');
        uploadContainer.empty();

        uploads.forEach(function(upload) {
            let uploadRow = `<li class="feed-item">
                            <a href="/pro/uploadDetail/${upload.userUploadId}">
                                <div class="feed-container">
                                    <div class="item-wrapper">
                                        <h3 class="item-title">
                                            ${upload.userName}
                                            <div>${upload.serviceName}</div>
                                        </h3>
                                        <p class="item-content">
                                            ${upload.userUploadTitle}
                                        </p>
                                    </div>
                                    <img width="80" height="80" src="https://e7.pngegg.com/pngimages/982/97/png-clipart-computer-icons-camera-iphone-graphy-camera-photography-camera-icon.png" alt="img">
                                </div>
                                <div class="feed-footer">
                                    <div class="star-icon">
                                        <svg width="16" height="16" viewBox="0 0 18 18" fill="none">
                                            <path d="M9.532 15.736a1.062 1.062 0 0 0-1.064 0L5.155 17.65c-.835.482-1.83-.308-1.548-1.23L4.8 12.516a1.062 1.062 0 0 0-.32-1.112L.942 8.327c-.715-.621-.32-1.797.626-1.861l4.082-.277c.417-.028.778-.297.924-.688l1.432-3.835c.344-.92 1.646-.92 1.99 0l1.432 3.835c.146.39.507.66.924.688l4.082.277c.946.064 1.34 1.24.626 1.861l-3.539 3.078c-.316.275-.441.71-.319 1.112l1.192 3.903c.281.923-.713 1.713-1.548 1.23l-3.313-1.914Z" stroke="#FF4747" stroke-width="1" fill="none"></path>
                                        </svg>
                                        <svg width="16" height="16" viewBox="0 0 18 18" fill="none">
                                            <path d="M9.532 15.736a1.062 1.062 0 0 0-1.064 0L5.155 17.65c-.835.482-1.83-.308-1.548-1.23L4.8 12.516a1.062 1.062 0 0 0-.32-1.112L.942 8.327c-.715-.621-.32-1.797.626-1.861l4.082-.277c.417-.028.778-.297.924-.688l1.432-3.835c.344-.92 1.646-.92 1.99 0l1.432 3.835c.146.39.507.66.924.688l4.082.277c.946.064 1.34 1.24.626 1.861l-3.539 3.078c-.316.275-.441.71-.319 1.112l1.192 3.903c.281.923-.713 1.713-1.548 1.23l-3.313-1.914Z" stroke="#FF4747" stroke-width="1" fill="none"></path>
                                        </svg>
                                        <svg width="16" height="16" viewBox="0 0 18 18" fill="none">
                                            <path d="M9.532 15.736a1.062 1.062 0 0 0-1.064 0L5.155 17.65c-.835.482-1.83-.308-1.548-1.23L4.8 12.516a1.062 1.062 0 0 0-.32-1.112L.942 8.327c-.715-.621-.32-1.797.626-1.861l4.082-.277c.417-.028.778-.297.924-.688l1.432-3.835c.344-.92 1.646-.92 1.99 0l1.432 3.835c.146.39.507.66.924.688l4.082.277c.946.064 1.34 1.24.626 1.861l-3.539 3.078c-.316.275-.441.71-.319 1.112l1.192 3.903c.281.923-.713 1.713-1.548 1.23l-3.313-1.914Z" stroke="#FF4747" stroke-width="1" fill="none"></path>
                                        </svg>
                                        <svg width="16" height="16" viewBox="0 0 18 18" fill="none">
                                            <path d="M9.532 15.736a1.062 1.062 0 0 0-1.064 0L5.155 17.65c-.835.482-1.83-.308-1.548-1.23L4.8 12.516a1.062 1.062 0 0 0-.32-1.112L.942 8.327c-.715-.621-.32-1.797.626-1.861l4.082-.277c.417-.028.778-.297.924-.688l1.432-3.835c.344-.92 1.646-.92 1.99 0l1.432 3.835c.146.39.507.66.924.688l4.082.277c.946.064 1.34 1.24.626 1.861l-3.539 3.078c-.316.275-.441.71-.319 1.112l1.192 3.903c.281.923-.713 1.713-1.548 1.23l-3.313-1.914Z" stroke="#FF4747" stroke-width="1" fill="none"></path>
                                        </svg>
                                        <svg width="16" height="16" viewBox="0 0 18 18" fill="none">
                                            <path d="M9.532 15.736a1.062 1.062 0 0 0-1.064 0L5.155 17.65c-.835.482-1.83-.308-1.548-1.23L4.8 12.516a1.062 1.062 0 0 0-.32-1.112L.942 8.327c-.715-.621-.32-1.797.626-1.861l4.082-.277c.417-.028.778-.297.924-.688l1.432-3.835c.344-.92 1.646-.92 1.99 0l1.432 3.835c.146.39.507.66.924.688l4.082.277c.946.064 1.34 1.24.626 1.861l-3.539 3.078c-.316.275-.441.71-.319 1.112l1.192 3.903c.281.923-.713 1.713-1.548 1.23l-3.313-1.914Z" stroke="#FF4747" stroke-width="1" fill="none"></path>
                                        </svg>
                                        <div>
                                            별점
                                        </div>
                                    </div>
                                    <div class="footer-date">
                                        ${formatDate(upload.userUploadDate)}
                                    </div>
                                </div>
                            </a>
                        </li>`;
            uploadContainer.append(uploadRow);
        });
    }

    function renderPagination(pagination) {
        const PaginationContainer = $('.pagination');
        PaginationContainer.empty();

        // 이전 버튼
        const prevDisabled = pagination.currentPage === 1 ? 'disabled' : '';
        PaginationContainer.append(`
            <li class="page-item ${prevDisabled}">
                <a class="page-link" href="#" aria-label="Previous" data-page="${pagination.currentPage - 1}">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
        `);

        for (let i = pagination.startPage; i <= pagination.endPage; i++) {
            const activeClass = pagination.currentPage === i ? 'active' : '';
            PaginationContainer.append(`
            <li class="page-item ${activeClass}">
                <a class="page-link" href="#" data-page="${i}">${i}</a>
            </li>
        `);
        }

        const nextDisabled = pagination.currentPage === pagination.totalPages ? 'disabled' : '';
        PaginationContainer.append(`
            <li class="page-item ${nextDisabled}">
                <a class="page-link" href="#" aria-label="Next" data-page="${pagination.currentPage + 1}">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        `);

        // 페이지 클릭했을 때 실행할 함수.
        $('.page-link').click(function(event) {
            event.preventDefault();
            const selectedPage = $(this).data('page');
            getList(selectedPage);
        });
    }

    function saveKeyword(){
        search = $('input[name="search"]').val();
        getList(1);
    }
</script>
</html>