<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>쿠폰함</title>
  <link rel="stylesheet" href="/static/css/user/coupon.css">
  <link rel="stylesheet" href="/static/css/main/common.css">
</head>
<body>
  <div id="main-body">
    <div class="container">
      <div class="padding3">
        <h1>쿠폰함</h1>
      </div>
      <!-- 발급된 쿠폰이 없을때,있으면 hidden -->
      <div class="center padding3">
        <i>
          <img src="https://assets.cdn.soomgo.com/icons/icon-coupon-empty.svg">
        </i>
        <h3>사용 가능한 쿠폰이 없습니다</h3>
      </div>
      
      <!-- 발급된 쿠폰 뿌려줌,없으면 hidden -->
      <div class="coupon-container">
        <div class="coupon">
            <h2>10000원 할인 쿠폰</h2> <!-- 쿠폰내용 -->
            <p>사용 기한: 2024-12-31</p> <!-- 쿠폰유효기간 -->
        </div>
        <div class="coupon">
            <h2>5,000원 할인 쿠폰</h2>
            <p>사용 기한: 2024-12-31</p>
        </div>
      </div>
    </div>

    <!-- 발급된 쿠폰유무상관없이 보여줌 -->
    <div class="coupon-box">
      <div class="container">
        <h3>쿠폰이용안내</h3>
        <ul> 
          <li>회원가입한 회원만 이용할 수 있습니다.</li>
          <li>지급된 쿠폰은 타 회원에게 양도하거나, 현금 환급이 불가합니다.</li>
          <li>거래금액, 서비스 등 조건이 맞는 쿠폰만 사용할 수 있습니다.</li>
          <li>쿠폰은 중복사용이 불가합니다.</li>
          <li>유효기간이 만료된 쿠폰은 사용 여부와 관계없이 삭제됩니다.</li>
        </ul>
      </div>
    </div>

  </div>  
</body>
</html>