<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" th:href="@{/css/user/mypage/mypage.css}">
  <link rel="stylesheet" th:href="@{/css/main/common.css}">
  <link rel="stylesheet" th:href="@{/css/layout/header.css}">



  <title>회원 마이페이지</title>
</head>
  <body>
    <div th:replace="~{/layout/header :: header}"></div>
      <div class="container">
          <div class="padding3">
            <h1>마이페이지</h1>
          </div>

          <ul class="underline">
            <li class="main-list li-padding">계정 설정</li>

            <li class="li-padding">
              <a th:href="@{/user/detail}"  class="oneline">
                <div class="auto">회원정보 상세보기</div>
                <div>
                  <img src="https://assets.cdn.soomgo.com/icons/icon-mypage-list-arrow.svg">
                </div>
              </a>
            </li>

            <li class="li-padding ">
              <a href="/templates/user/user_edit.html" class="oneline"> <!-- 개인정보 수정 페이지 -->
                <div class="auto">회원정보 수정하기</div>
                <div>
                  <img src="https://assets.cdn.soomgo.com/icons/icon-mypage-list-arrow.svg">
                </div>
              </a>
            </li>
          </ul>


          <div class="mypage-menu">
  <!--          전문가 인증 안된회원에게만 보여줌-->
            <ul class="underline" th:if="${session.userProApproval.equals('NO')}">
              <li class="main-list li-padding">전문가 인증</li>
              <li class="li-padding ">
                <!-- 전문가인증작성페이지 -->
                <a th:href="@{/user/certify}" class="oneline">
                  <div class="auto">전문가 인증하기</div>
                  <div>
                    <img src="https://assets.cdn.soomgo.com/icons/icon-mypage-list-arrow.svg">
                  </div>
                </a>

              </li>
            </ul>

            <ul class="underline">
              <li class="main-list li-padding">내 지갑</li>
              <li class="li-padding oneline">
                <div class="auto">보유 포인트</div>
                <div class="circle">
                  <!-- ? : 보유캐시 뿌려주는곳 -->
                  <span th:text="${mypage.userCash}">?</span>
                  <span>캐시</span>
                </div>
              </li>

              <li class="li-padding ">
                <!-- 포인트충전api -->
                <a href="#" class="oneline">
                  <div class="auto">포인트 충전</div>
                  <div>
                    <img src="https://assets.cdn.soomgo.com/icons/icon-mypage-list-arrow.svg">
                  </div>
                </a>
                <!-- 쿠폰리스트뿌려주는 페이지 -->
                <a th:href="@{/user/couponlist}">
                  <div class="coupon-icon">보유 쿠폰함</div>
                </a>
              </li>
            </ul>

            <ul class="underline">
              <li class="main-list li-padding">활동 내역</li>
              <!-- 내가 쓴 게시글목록 이동 -->
              <li class="li-padding">
                <a href="#" class="oneline">
                  <div class="auto">내가 쓴 게시글</div>
                  <div>
                    <img src="https://assets.cdn.soomgo.com/icons/icon-mypage-list-arrow.svg">
                  </div>
                </a>
              </li>
              <!-- 내가 쓴 댓글목록 이동 -->
              <li class="li-padding">
                <a href="#" class="oneline">
                  <div class="auto">내가 쓴 댓글</div>
                  <div>
                    <img src="https://assets.cdn.soomgo.com/icons/icon-mypage-list-arrow.svg">
                  </div>
                </a>
              </li>
              <!-- 내가 쓴 리뷰목록 이동 -->
              <li class="li-padding">
                <a href="#" class="oneline">
                  <div class="auto">내가 쓴 리뷰</div>
                  <div>
                    <img src="https://assets.cdn.soomgo.com/icons/icon-mypage-list-arrow.svg">
                  </div>
                </a>
              </li>
            </ul>
          </div>

      </div>
<!--  카카오페이 충전 모달,카카오페이api로 넘겨줄 충전금액 적을것임-->
<!--    <div id=modal class="container">-->
<!--      <div class="box-container">-->
<!--        <div class="box-header">포인트충전</div>-->
<!--        <div class="box-content">-->
<!--          <div class="description">-->
<!--            <h3>포인트 충전은 카카오페이로 진행됩니다.</h3>-->
<!--            충전하실 포인트 금액을 입력해주세요-->
<!--          </div>-->
<!--          <form method="post" id="deleteForm" th:action="@{/user/delete}">-->
<!--            <div class="title">카카오페이로 충전하실 금액을 입력해주세요</div>-->
<!--            <input class="input-box" name="point" placeholder="충전하실 금액을 입력해주세요" type="number">-->

<!--            &lt;!&ndash; 충전하기API &ndash;&gt;-->
<!--            <button type="submit" class="btn" onclick="paybtn()">충전하기</button>-->
<!--            &lt;!&ndash;모달 창 닫음 &ndash;&gt;-->
<!--            <button type="button" id="close-modal"  class="btn">취소</button>-->
<!--          </form>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->

  </body>
</html>