html {
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
    margin: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #323232;
    text-align: left;
    background-color: #fff;
    padding-top: 80px;
}
/* header */

#header,#proheader {
    position: fixed;
    top: 0;
    margin-bottom:0;
    /*left: 0;*/
    width: 100%;
    z-index: 1000 !important;
    /*position: pi;*/
    /*top: 0;*/
    /*z-index: 1;*/
    background-color: white;
}


.global-nav-bar {
    position: relative;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    text-align: center;
    height: 4.5rem;
    padding: 0;
    border-bottom: .0625rem solid #f2f2f2;
}

.desktop-header {
    width: 60.625rem;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.desktop-header .header-left {
    display: flex;
    align-items: center;
}

#logo {
    margin-right: 1.875rem;
}

.desktop-header img {
    height: 1.6875rem;
}

.desktop-header .nav-list {
    display: flex;
    margin: 0;
}

.nav-item,.nav-item-pro  {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    /*font-weight: 700;*/
    cursor: pointer;
}

.nav-item a,.nav-item-pro a {
    text-decoration: none; /* 기본 텍스트 밑줄 제거 */
    position: relative;
    font-size: 15px; /* 링크 텍스트 크기 */
    font-weight: 700; /* 링크 텍스트 두께 */
    color: #323232; /* 링크 텍스트 색상 */
    transition: color 0.3s ease, border-bottom-color 0.3s ease; /* 색상과 밑줄 색상 전환 효과 */
}

.nav-item a:hover {
    color: #8da4d0; /* 호버 시 밑줄 색상 */
}
.nav-item-pro a:hover {
    color:#F8CACC ; /* 호버 시 밑줄 색상 */
}

.nav-item a:after,.nav-item-pro a:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px; /* 밑줄 위치 조정 */
    width: 100%;
    height: 2px; /* 밑줄 두께 */
    background-color: transparent; /* 기본 밑줄 색상 */
    transition: background-color 0.3s ease; /* 밑줄 색상 전환 효과 */
}

.nav-item a:hover:after,
.nav-item a:focus:after {
    background-color: #8da4d0; /* 호버 및 포커스 시 밑줄 색상 변경 */
}
.nav-item-pro a:hover:after,
.nav-item-pro a:focus:after {
    background-color: #F8CACC ; /* 호버 및 포커스 시 밑줄 색상 변경 */
}

.left-items {
    margin-left: 1.125rem;
}

.logout-btn{
    color: red;
    font-size: 13px;
}


.input-group {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    /* width: 100%; */
    height: 100%;
    margin: 0;
    border-radius: 6px;
    padding: 0 .75rem;
    background: #f2f2f2;
}

.input-logo {
    padding-right: .5rem;
    background-color: transparent;
    border: none;
    margin: 0;
    cursor: pointer;
    display: flex;
}

.search-logo {
    max-width: 100%;
    margin: auto;
}


.header-right {
    display: flex;
    align-items: center;
    font-size: 14px;
}
.right-item {
    margin-left: 1rem;
}


.header_oneline{
    display: flex;
    align-items:center;
    flex:auto
}
