<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>올린 서비스 모아보기</title>
    <link rel="stylesheet" th:href="@{/css/user/profind/FindPro.css}">
    <link rel="stylesheet" th:href="@{/css/main/common.css}">
    <link rel="stylesheet" th:href="@{/css/layout/header.css}">
    <link rel="stylesheet" th:href="@{/css/user/req_list/pagination.css}">
    <link rel="stylesheet" th:href="@{/css/layout/footer.css}">
</head>
<body>
<div th:replace="~{/layout/header :: header}"></div>
<input type="hidden" th:value="${proId}" name="proId">
<div class="main">
    <div class="main-container">
        <div class="main-container-title">
            <div class="main-container-title-container">
                <h2 class="title">
                    <span class="title-content">
                        올린 서비스 모아보기
                    </span>
                </h2>
                <a  th:href="@{/pro/upload}">
                    <div style="border: 1px solid #F8CACC; border-radius: 10px;padding: 10px">
                        서비스 올리기
                    </div>
                </a>
            </div>
            <!--        리스트 나열되어있는 그곳   -->
            <div class="community-container">
                <div class="content-layout">
                    <div class="feed">
                        <ul class="feed-list">
                            <!--                        더미데이터 시작            -->

                            <!--                        더미데이터 끝                 -->
                        </ul>
                    </div>
                </div>
            </div>
            <ul class="pagination">

            </ul>
        </div>
    </div>
</div>


<div th:replace="~{/layout/footer :: footer}"></div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>

  const pageSize = 7;
  const proId = Number(document.querySelector('input[name="proId"]').value);

  // 날짜 포맷
  function formatDate(dateString) {
    const now = new Date();
    const commentDate = new Date(dateString); // 문자열을 Date 객체로 변환

    const nowYear = now.getFullYear();
    const nowMonth = now.getMonth();
    const nowDate = now.getDate();

    const commentYear = commentDate.getFullYear();
    const commentMonth = commentDate.getMonth();
    const commentDateDate = commentDate.getDate();

    let displayText = "";

    // 년, 월, 일이 모두 같은 경우 "오늘"로 표시
    // if (nowYear === commentYear && nowMonth === commentMonth && nowDate === commentDateDate) {
    //     displayText = "오늘";
    // } else {
    // 그 외의 경우, 정해진 포맷으로 표시
    const yy = commentYear.toString().slice(-2); // 마지막 두 자리를 가지고 옴.
    const M = commentMonth + 1; // 월은 0부터 시작하므로 1을 더해줍니다.
    const d = commentDateDate;
    const HH = commentDate.getHours().toString().padStart(2, '0');
    const mm = commentDate.getMinutes().toString().padStart(2, '0'); // 두자리 수 일 때 앞에 0을 붙임.

    displayText = `${yy}. ${M}. ${d}`;
    // }
    return displayText;
  }

  window.onload = function () {
      //  전문가 페이지,페이징 색상변경
      const PaginationContainer = $('.pagination');
      PaginationContainer.addClass('pro-pagination');
      getList(1);
  }

  function getList(page) {
    $.ajax({
      method: 'get',
      url: '/proRest/proUploadList',
      data: {
        page: page,
        size: pageSize,
        proId : proId

      },
      success: function (data) {
        // 리스트 뿌려주는 함수.
        renderUploadList(data.content);
        renderPagination(data)
      },
      error: function () {
        console.error('실패')
      }
    })
  }


  function renderUploadList(uploads) {
    const uploadContainer = $('.feed ul');
    uploadContainer.empty();

    if (uploads.length === 0) {
      const uploadRow = `
        <li class="">
                <div class="feed-container">
                    <div class="item-wrapper">
                        <h3 class="item-title" style="text-align:center">해당 하는 글이 없습니다.</h3>
                    </div>
                </div>
        </li>
    `;
      uploadContainer.append(uploadRow);
    }


    uploads.forEach(function (upload) {
        const ImgSrc = upload.proUploadFileRoute ? upload.proUploadFileRoute : '/img/basicIMG.png';
      let uploadRow = `<li class="feed-item">
                                <div class="feed-container">
                                    <div class="item-wrapper">
                                        <h3 class="item-title">
                                            ${upload.proUploadTitle}
                                            <div> ${upload.serviceName}</div>
                                        </h3>
                                        <p class="item-content">
                                            ${upload.proUploadContent}
                                        </p>
                                    </div>
                                    <img width="80" height="80" src="${ImgSrc}" alt="img">
                                </div>
                                <div class="feed-footer">
                                    <div class="star-icon" style="display: flex">
                                        <div>
                                            금액 :
                                             ${upload.proUploadPay}
                                        </div>
                                        <div style="margin-left: 10px">
                                            가감금액 :
                                             ${upload.proUploadPayRange}
                                        </div>
                                    </div>
                                    <div class="footer-date">
                                        ${formatDate(upload.proUploadDate)}
                                    </div>
                                </div>
                        </li>`;


      uploadContainer.append(uploadRow);
    });
  }

  function renderPagination(pagination) {
    const PaginationContainer = $('.pagination');
    PaginationContainer.empty();

    if (pagination.content.length === 0) {
      return
    }

    // 이전 버튼
    const prevDisabled = pagination.currentPage === 1 ? 'disabled' : '';
    PaginationContainer.append(`
            <li class="page-item ${prevDisabled}">
                <a class="page-link" href="#" aria-label="Previous" data-page="${pagination.currentPage - 1}">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
        `);

    for (let i = pagination.startPage; i <= pagination.endPage; i++) {
      const activeClass = pagination.currentPage === i ? 'active' : '';
      PaginationContainer.append(`
            <li class="page-item ${activeClass}">
                <a class="page-link" href="#" data-page="${i}">${i}</a>
            </li>
        `);
    }

    const nextDisabled = pagination.currentPage === pagination.totalPages ? 'disabled' : '';
    PaginationContainer.append(`
            <li class="page-item ${nextDisabled}">
                <a class="page-link" href="#" aria-label="Next" data-page="${pagination.currentPage + 1}">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        `);

    // 페이지 클릭했을 때 실행할 함수.
    $('.page-link').click(function (event) {
      event.preventDefault();
      const selectedPage = $(this).data('page');
      getList(selectedPage);
    });
  }

</script>

</html>