<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>견적올리기</title>
    <link rel="stylesheet" th:href="@{/css/user/upload/receiveform.css}">
    <link rel="stylesheet" th:href="@{/css/main/main.css}">
    <link rel="stylesheet" th:href="@{/css/main/common.css}">
    <link rel="stylesheet" th:href="@{/css/user/mypage/certify.css}">
    <link rel="stylesheet" th:href="@{/css/user/req_list/received_req_info.css}">
    <link rel="stylesheet" th:href="@{/css/user/upload/select.css}">
    <link rel="stylesheet" th:href="@{/css/layout/header.css}">


</head>
<body>
<div th:replace="~{/layout/header :: header}"></div>
<div class="detail-container">
    <div class="container">
        <h2 class="title">견적요청서</h2>
        <div class="">
            <!-- 작성자 프로필 뿌려줌 -->
            <div class="request-info">
                <div class="pro-info">
                    <div class="imgSize" style="margin-bottom: 20px;">
                        <img src="프로필사진" class="imgSize">
                        <!--                사진 뿌려주기-->
                    </div>
                    <div class="pro-name-rate">
                        <div class="pro-name user-name">주현제</div>
                        <div class="address" style="margin-top: 10px;">
                            <img src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyMCIgaGVpZ2h0PSIyMCI+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj48cGF0aCBkPSJNMCAyMGgyMFYwSDB6Ii8+PGcgc3Ryb2tlPSIjNzM3MzczIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIHN0cm9rZS13aWR0aD0iMiI+PHBhdGggZD0iTTE2LjIxOCA3LjI3NGMwIDQuOTQzLTUuODMzIDEwLjIyNi01LjgzMyAxMC4yMjZTNC41NSAxMi41NDIgNC41NSA3LjI3NGMwLTMuMDk3IDIuNjEyLTUuNjA3IDUuODM0LTUuNjA3IDMuMjIxIDAgNS44MzMgMi41MSA1LjgzMyA1LjYwN3oiLz48cGF0aCBkPSJNMTIuNjI4IDcuOTE3YTIuMDg0IDIuMDg0IDAgMTEtNC4xNjctLjAwMSAyLjA4NCAyLjA4NCAwIDAxNC4xNjcgMHoiLz48L2c+PC9nPjwvc3ZnPg=="
                                 alt="">
                            <span th:text="${userLocation.region} + ' ' + ${userLocation.city}"></span>
                        </div>
                    </div>
                </div>
            </div>  <!-- 작성자 프로필 뿌려주는거 끝 -->

            <!-- 폼 작성 -->
            <form th:action="@{/user/upload}" th:object="${userUpload}" name="user_recevieform"
                  id="user_recevieform" method="post" enctype="multipart/form-data" class="recevieform-container">
                <div>
                    <table>
                        <tbody>
                        <tr>
                            <th>제목</th>
                            <td colspan="3">
                                <input type="text" th:field="*{userUploadTitle}" maxlength="25">
                            </td>
                        </tr>

                        <tr class="price">
                            <th>요청금액</th>
                            <td><input th:field="*{userUploadPay}" type="number" class="" placeholder="원하시는 금액을 입력하세요">
                            </td>
                            <th>가감금액</th>
                            <td><input th:field="*{userUploadPayRange}" type="number"
                                       placeholder="ex)10000 입력시 요청금액 +-10000원범위안에서 매칭"></td>
                        </tr>
                        <tr>
                            <th>요청내용</th>
                            <td colspan="3">
                                <div class="recive-textarea">
                                    <textarea class="textarea" th:field="*{userUploadContent}" maxlength="65536"
                                              style="width:97%;height:300px"
                                              placeholder="<다양한 전문가에게 요청을 받고 싶다면??> 1.요청내용을 구체적으로 적으실 수록 전문가의 요청률이 높습니다.2.정확한 견적요청을 위해 사진을 첨부해주세요"></textarea>
                                </div>
                            </td>
                        </tr>

                        <tr>
                            <th>카테고리</th>
                            <td colspan="3" class="category-td">
                                <div class="dropdown">
                                    <button type="button" class="dropbtn spanline">
                                        <span class="dropbtn_content">서비스</span>
                                        <span class="dropbtn_click category-arrow"></span>
                                        <input type="hidden" id="service_input" name="serviceId">
                                    </button>
                                    <div class="dropdown-content">
                                        <div class="service1 category">이사/청소</div>
                                        <div class="dropdown-service1 dropdown-service">
                                            <div class="services" onclick="showService(this.innerText, 1)">이사</div>
                                            <div class="services" onclick="showService(this.innerText, 2)">입주/집청소</div>
                                            <div class="services" onclick="showService(this.innerText, 3)">가구/가구청소</div>
                                            <div class="services" onclick="showService(this.innerText, 4)">특수 청소</div>
                                            <div class="services" onclick="showService(this.innerText, 5)">철거/폐기</div>
                                        </div>
                                        <div class="service2 category">설치/수리</div>
                                        <div class="dropdown-service2 dropdown-service">
                                            <div class="services" onclick="showService(this.innerText, 6)">가전제품</div>
                                            <div class="services" onclick="showService(this.innerText, 7)">문/창문</div>
                                            <div class="services" onclick="showService(this.innerText, 8)">수도/보일러/전기
                                            </div>
                                            <div class="services" onclick="showService(this.innerText, 9)">가구</div>
                                            <div class="services" onclick="showService(this.innerText, 10)">기타 설치/수리
                                            </div>
                                        </div>
                                        <div class="service3 category">인테리어</div>
                                        <div class="dropdown-service3 dropdown-service">
                                            <div class="services" onclick="showService(this.innerText, 11)">종합 인테리어
                                            </div>
                                            <div class="services" onclick="showService(this.innerText,12)">부분 인테리어</div>
                                            <div class="services" onclick="showService(this.innerText,13)">바닥 시공</div>
                                            <div class="services" onclick="showService(this.innerText,14)">야외 시공</div>
                                            <div class="services" onclick="showService(this.innerText,15)">기타 시공</div>
                                        </div>
                                        <div class="service4 category">취미/자기계발</div>
                                        <div class="dropdown-service4 dropdown-service">
                                            <div class="services" onclick="showService(this.innerText,16)">악기</div>
                                            <div class="services" onclick="showService(this.innerText,17)">보컬</div>
                                            <div class="services" onclick="showService(this.innerText,18)">피트니스</div>
                                            <div class="services" onclick="showService(this.innerText,19)">스포츠</div>
                                            <div class="services" onclick="showService(this.innerText,20)">댄스</div>
                                            <div class="services" onclick="showService(this.innerText,21)">연기/마술</div>
                                            <div class="services" onclick="showService(this.innerText,22)">미술</div>
                                            <div class="services" onclick="showService(this.innerText,23)">사진/영상</div>
                                            <div class="services" onclick="showService(this.innerText,24)">투자</div>
                                            <div class="services" onclick="showService(this.innerText,25)">굥예</div>
                                            <div class="services" onclick="showService(this.innerText,26)">요리/조리</div>
                                            <div class="services" onclick="showService(this.innerText,27)">패션/미용</div>
                                            <div class="services" onclick="showService(this.innerText,28)">취업 준비 컨설팅
                                            </div>
                                            <div class="services" onclick="showService(this.innerText,29)">기타 취밈/자기계발
                                            </div>
                                        </div>
                                        <div class="service5 category">기타</div>
                                        <div class="dropdown-service5 dropdown-service">
                                            <div class="services" onclick="showService(this.innerText,30)">렌탈</div>
                                            <div class="services" onclick="showService(this.innerText,31)">심리</div>
                                            <div class="services" onclick="showService(this.innerText,32)">반려동물</div>
                                            <div class="services" onclick="showService(this.innerText,33)">번역 작업</div>
                                            <div class="services" onclick="showService(this.innerText,34)">여행</div>
                                            <div class="services" onclick="showService(this.innerText,35)">심부름</div>
                                            <div class="services" onclick="showService(this.innerText,36)">도우미</div>
                                            <div class="services" onclick="showService(this.innerText,37)">알바</div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th>첨부파일</th>
                            <td colspan="3" class="category-td">
                                <label for="upload" class="fontSize15 label" style="display: none;">작업사진첨부</label>
                                <input type="file" class="pro-form-control" id="upload" name="userUploadFiles" multiple>
                            </td>
                        </tr>
                        <tr>


                        <tr>
                            <th>상세주소</th>
                            <td colspan="3"><input type="text" maxlength="255" th:field="*{userUploadAddress}"
                                                   placeholder="주소api가져와서 쓸곳"></td>
                        </tr>

                    </table>
                </div>

                <div class="left">
                    <button type="submit">견적 요청하기</button>
                    <button type="button" style="display: none;">견적 수정하기</button>
                </div>
            </form>
        </div>
    </div>
</div>
<script src="/js/select.js"></script>

</body>
</html>