/*  ------------------------------------------------------------------------------------------------  */

* {
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
}

body{
    background-color: #ffffff;
    color: #363a3c;
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

header a{
    color: #ced0db;
    text-decoration: none;
    background-color: transparent;
    border: 0;
    display: inline-block;
    font-size: 14px;
    padding: 0 20px 0 0;
    width: auto;
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

input{
    color: inherit;
    font: inherit;
    margin: 0;
}

input{
    line-height: normal;
}

input{
    color: #000;
    font-size: 14px;
}

input{
    font-weight: 300;
    maxwidth: 100px;
    box-sizing: border-box;
    outline: none;
    transition: border .12s ease-in-out;
}

h1{
    font-size:32px;
}


/*  ------------------------------------윗쪽작은부분----------------------------------------------------  */

.main{

    padding: 0 0 20px;
    width: 100%;
    background-color: #fff;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-content: center;
}

.main-container{
    grid-column: 2 / span 3;
    margin: 10px auto;
    padding: 0;
    width: 100%;
}


.main-container-title{
}

.main-container-title-container{
    display: flex;
    justify-content: space-between;
    letter-spacing: -0.25px;
}

.title{
    position: relative;
    margin: 0 0 0;
    overflow: hidden;
    padding: 0 20px;
    height: 45px;
    border-radius: 10px;
    line-height: 45px;
    color: #000000;
    font-size: 25px;

}

.title::before{
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: -12px;
    z-index: 0;
    width: 50%;
    height: 45px;
    transform: skewX(-43deg);
}
.title span{
    position: relative;
    z-index: 1;
}

.write-box{
    display: flex;
    align-items: center;
    padding: .625rem 1.5625rem .625rem 1.8125rem;
    border-radius: 6px;
    border: none;
    background-color: #303030;
    color: #fff;
    cursor: pointer;
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

.write-box::after{
    width: 1.125rem;
    height: 1.125rem;
    background-image: url(https://assets.cdn.soomgo.com/icons/icon-board-create.svg);
    background-size: cover;
    border: 0;
    content: "";
    margin-left:2px;
}


/*  ------------------------------------왼쪽부분----------------------------------------------------  */

.community-container{
    margin-top: 40px;
    display: flex;
}

.category-list{
    width: 12.5rem;
    display: block
}

.category-list ul{
    /*이걸로 좌측이 고정됨*/
    position: sticky;
    top: 6rem;
    z-index: 10;
    width: 12.5rem;
    display: flex;
    flex-direction: column;
    gap: .25rem;
}

li.selected{
    border-radius: 8px;
    background: #f8f8f8;
    font-weight: 700;
}

.category-list ul li a{
    display: flex;
    align-items: center;
    padding: 0 1.25rem;
    height: 3.5rem;
    color: #2d2d2d;
    font-size: .875rem;
    cursor: pointer;
}

/*  ------------------------------------오른쪽부분----------------------------------------------------  */

.content-layout{
    width: 37.5rem;
    padding-top: 0;
    margin-left: 5.3125rem;
}

.feed{
    padding: 0 0 5rem;
}

.feed-list{
    margin: 0;
}

.feed-item{
    margin-bottom:20px;
    cursor: pointer;
    border-bottom: .0625rem solid #f4f4f4;
}

.feed-container{
    display: flex;
    margin-bottom: .75rem;
}

.feed-container div{
    flex: 1;
    padding-right: 1rem;
}

.item-title{
    line-height: 1.57;
    margin-bottom: .25rem;
    font-size: .875rem;
    font-weight: 700;
    letter-spacing: -.01875rem;
    color: #2d2d2d;
}


.item-content{
    max-height: 3.14em;
    overflow: hidden;
    margin-bottom: .625rem;
    color: #888;
    font-size: .875rem;
    line-height: 1.57143;
    letter-spacing: -.01875rem;
}

.feed-container img{
    height: 5rem;
    border: .0625rem solid #f4f4f4;
    border-radius: 8px;
}

.feed-footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.feed-footer div{
    display: inherit;
}

.footer-like{
    color: #c5c5c5;
    font-size: .75rem;
    letter-spacing: -.0125rem;
}

.footer-like::before{
    padding-right: 1.25rem;
    content: "";
    background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTYiIGhlaWdodD0iMTciIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTkuOTQyIDYuMjkzVjMuNzZjMC0xLjA1LS44MjYtMS45LTEuODQ0LTEuOWwtMi40NiA1Ljd2Ni45NjZoNi45MzZhMS4yNDEgMS4yNDEgMCAwMDEuMjMtMS4wNzZsLjg0OS01LjdhMS4yOTMgMS4yOTMgMCAwMC0uMjg4LTEuMDIyIDEuMjE1IDEuMjE1IDAgMDAtLjk0Mi0uNDM1aC0zLjQ4ek0zLjkzIDE0LjUyNkgyLjU2M2MtLjY3OSAwLTEuMjMtLjU2Ny0xLjIzLTEuMjY2VjguODI2YzAtLjcuNTUxLTEuMjY2IDEuMjMtMS4yNjZIMy45M3Y2Ljk2NnoiIGZpbGw9IiNDNUM1QzUiIGZpbGwtcnVsZT0iZXZlbm9kZCIvPjwvc3ZnPg==) no-repeat 0;
}

.footer-comment{
    color: #c5c5c5;
    font-size: .75rem;
    letter-spacing: -.0125rem;
}

.footer-comment::before{
    padding-right: 1.25rem;
    margin-left: .75rem;
    content: "";
    background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTYiIGhlaWdodD0iMTciIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTkuNjgyIDEuODZhNC45ODUgNC45ODUgMCAwMTQuOTg1IDQuOTg1djEuMzYzYzAgMS45MS0xLjA3NiAzLjU3LTIuNjU0IDQuNDA3djEuOTEyYS42NjcuNjY3IDAgMDEtLjk4Mi41ODdsLS4wNzEtLjA0NC0yLjYzNi0xLjg3N0g2LjMxOGE0Ljk4NSA0Ljk4NSAwIDAxLTQuOTg1LTQuOTg1VjYuODQ1QTQuOTg1IDQuOTg1IDAgMDE2LjMxOCAxLjg2aDMuMzY0em0tNC44NDkgNWEuODMzLjgzMyAwIDEwMCAxLjY2Ni44MzMuODMzIDAgMDAwLTEuNjY2em0zIDBhLjgzMy44MzMgMCAxMDAgMS42NjYuODMzLjgzMyAwIDAwMC0xLjY2NnptMyAwYS44MzMuODMzIDAgMTAwIDEuNjY2LjgzMy44MzMgMCAwMDAtMS42NjZ6IiBmaWxsPSIjQzVDNUM1IiBmaWxsLXJ1bGU9ImV2ZW5vZGQiLz48L3N2Zz4=) no-repeat 0;
}


.footer-date{
    color: #c5c5c5;
    font-size: .75rem;
    letter-spacing: -.0125rem;
}