/*  ------------------------------------------------------------------------------------------------  */

* {
    box-sizing: border-box;
}

input{

}

h1{
    font-size:32px;
}


/*  ------------------------------------메인부분----------------------------------------------------  */

.main{
    padding: 0 0 20px;
    width: 100%;
    background-color: #fff;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-content: center;
}

.main-container{
    grid-column: 2 / span 3;
    margin: 10px auto;
    padding: 0;
    width: 100%;
}

.write-box{
    display: flex;
    width: 100%;
    background-color: #f8f8f8;
    border-bottom: 1px solid #ccc;
}

.title-info{
    width : 10%;
    align-content: center;
    text-align: right;
    margin-right: 10px;
}

.title-input{
    width: 90%;
}

.title-input input{
    width: 100%;
    padding: 1.25rem 0;
    margin: 0;
    font-size: .875rem;
    font-weight: 500;
    line-height: 1.57143;
    letter-spacing: -.01875rem;
    border: 0;
    background-color: inherit;
    outline: none;
}

.service-area{
    width: 80%;
}

.service-area:first-child{
    width: 20%;
}

.service-part{
    padding: 1.25rem 0;
    margin-left : 20px;
    font-size: .875rem;
    font-weight: 500;
    line-height: 1.57143;
    letter-spacing: -.01875rem;
    border: 0;
    background-color: inherit;
    outline: none;
    cursor: pointer;
}

.content{
    width: 100%;
    min-height: 22.5rem;
    position: relative;
    margin: auto;
}

.content-text{
    margin-left:20px;
    width:100%;
    height: 373px;
    min-height: 20rem;
    resize: none;
    padding: 1.25rem 0;
    border: 0;
    background-color: transparent;
    outline: none;
}

.content-footer{
    border-top: 1px solid #ccc;
}

.content-footer button{
    margin-top:10px;
    background-color: #FFFFFF;
    border-radius: 3px;
    cursor: pointer;
    border: 1px solid #aaa
}

.content-footer button:last-child{
    float: right;
    padding: 0 15px;
    width: auto;
    height: 30px;
    line-height: 30px;
    text-align: center;
    transition: .2s;
    background: #444;
    border: 1px solid #303030;
    color: #fff;
}

.note-editing-area{
    height: 350px;
}