<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>sendRequests</title>
    <link rel="stylesheet" th:href="@{/css/user/req_list/received_req_info.css}">
    <link rel="stylesheet" th:href="@{/css/main/common.css}">
    <link rel="stylesheet" th:href="@{/css/layout/header.css}">
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR&display=swap" rel="stylesheet">
    <!--    <link rel="stylesheet" href="/static/css/common(2)/font.css">-->
</head>
<body>
<div th:replace="~{/layout/header :: header}"></div>
<div class="request-header">
    <div class="request-header-inner">
        <div class="service-title">
            <h2 th:text="${userRequest.proUploadTitle}">서비스 제목</h2>
        </div>
        <div class="received-date">
            <div class="date-badge">보낸 날짜</div>
            <div class="date" th:text="${userRequest.userRequestDate}"></div>
        </div>
    </div>
</div>
<div class="container">
    <div class="page-body">
        <div class="info">
            <div class="request-info">
                <!-- 회원 정보 -->
                <div class="pro-info">
                    <div class="pro-pic">
                        <img src="https://dmmj3ljielax6.cloudfront.net/upload/requestForm/25f0e364-93ad-4d49-b710-3a2f073dc547.svg">
                    </div>
                    <div class="pro-name-rate">
                        <div class="pro-name user-name" th:text="${userRequest.userName}">주현제</div>
                        <div class="service-address">
                            <div class="service-name" th:text="${userRequest.serviceName}">주택 건축</div>
                            <div class="address">
                                <img src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyMCIgaGVpZ2h0PSIyMCI+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj48cGF0aCBkPSJNMCAyMGgyMFYwSDB6Ii8+PGcgc3Ryb2tlPSIjNzM3MzczIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIHN0cm9rZS13aWR0aD0iMiI+PHBhdGggZD0iTTE2LjIxOCA3LjI3NGMwIDQuOTQzLTUuODMzIDEwLjIyNi01LjgzMyAxMC4yMjZTNC41NSAxMi41NDIgNC41NSA3LjI3NGMwLTMuMDk3IDIuNjEyLTUuNjA3IDUuODM0LTUuNjA3IDMuMjIxIDAgNS44MzMgMi41MSA1LjgzMyA1LjYwN3oiLz48cGF0aCBkPSJNMTIuNjI4IDcuOTE3YTIuMDg0IDIuMDg0IDAgMTEtNC4xNjctLjAwMSAyLjA4NCAyLjA4NCAwIDAxNC4xNjcgMHoiLz48L2c+PC9nPjwvc3ZnPg=="
                                     alt="">
                                <span th:text="${userRequest.region} + ' ' + ${userRequest.city}"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="request-content-body">
                    <div class="request-content">
                        <h2>요청 내용</h2>
                        <div th:text="${userRequest.userRequestContent}"></div>
                    </div>
                </div>
                <!--                    <div class="pro-photos">-->
                <!--                        <div class="photos-container">-->
                <!--                            <h2>사진</h2>-->
                <!--                            <div><ul class="image-veiwer">-->
                <!--                                <li>-->
                <!--                                    <img src="https://img1.daumcdn.net/thumb/R1280x0/?scode=mtistory2&fname=https%3A%2F%2Fblog.kakaocdn.net%2Fdn%2F9pQ5k%2FbtrmGXmIuQe%2F6XTySrahwqBSlJ5YkfsdJ1%2Fimg.jpg" alt="">-->
                <!--                                </li>-->
                <!--                            </ul></div>-->
                <!--                        </div>-->
                <!--                    </div>-->
            </div>
        </div>
        <div class="request-price-side">
            <div class="side-wrapper">
                <div class="request-price">
                    <span th:text="${userRequest.userRequestPay}"></span>
                    <span>원에 요청을 보내셨습니다.</span>

                    <!-- 작업이 완료 되면 띄우도록 -->
                    <!-- <span>작업이 완료 되었습니다!</span> -->
                </div>
                <div class="accept-cancle-btn">
                    <button th:style="${userRequest.userRequestProgress != 'PRE' ? 'display:none' : ''}" type="button"
                            class="btn-cancle">요청 진행중..
                    </button>

                    <!-- 상대방이 수락을 누르면 띄우기!! -->

                    <button th:style="${userRequest.userRequestProgress != 'ING' ? 'display:none' : ''}" type="button"
                            class="btn-cancle">작업 진행중..
                    </button>

                    <!-- 상대방이 작업 완료를 누른다면 리뷰 작성하기 띄우기 -->
                    <button th:unless="${userRequest.checkUserReview == 1}"
                            th:style="${userRequest.userRequestProgress != 'POST' ? 'display:none' : ''}"
                            th:onclick="|location.href='@{/user/proReview2/{userRequestId}(userRequestId=${userRequestId})}'|"
                            class="btn-accept">리뷰 작성하기
                    </button>
                    <button th:if="${userRequest.checkUserReview == 1}"
                            th:style="${userRequest.userRequestProgress != 'POST' ? 'display:none' : ''}"
                            th:onclick="|location.href='@{/user/proReview2/{userRequestId}(userRequestId=${userRequestId})}'|"
                            class="btn-accept" style="background-color: #9aa0a6 !important;" disabled>리뷰를 이미 작성하셨습니다
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
</body>

</html>