<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>활동내역</title>
    <link rel="stylesheet" th:href="@{/css/user/mypage/CreationList.css}">

    <link rel="stylesheet" th:href="@{/css/main/common.css}">
    <link rel="stylesheet" th:href="@{/css/layout/header.css}">
    <link rel="stylesheet" th:href="@{/css/layout/footer.css}">

</head>
<body>
<div th:replace="~{/layout/header :: header}"></div>
<div class="main">
    <div class="main-container">
        <div class="main-container-title">
            <div class="main-container-title-container">
                <h2 class="title">
                        <span class="title-content">
                            활동내역 목록
                        </span>
                </h2>
            </div>
        </div>

        <div class="tab-btn-container">
            <a class="btn" th:href="@{/activeList/community}">게시글</a>
            <a class="btn active" th:href="@{/activeList/comment}">댓글</a>
            <a class="btn" th:href="@{/activeList/writeReview}">작성한 리뷰</a>
            <a class="btn" th:href="@{/activeList/received}">받은 리뷰</a>
        </div>
        <div class="main-container-list community" th:if="${totalPages}== 0"><h3>작성하신 댓글이 없습니다.</h3></div>
        <div class="main-container-list community"  th:unless="${totalPages}== 0">
            <table class="list-container" >
                <thead>
                <tr>
                    <th style="width: 5%">번호</th>
                    <th style="width: 10%">게시글 번호</th>
                    <th style="width: 70%">댓글 내용</th>
                    <th style="width: 15%">등록일</th>
                </tr>
                </thead>
                <tbody id ="commuList">
                <tr th:each="list : ${lists}" th:object="${list}">
                    <td th:text="*{RN}" class="list-num">1</td>
                    <td th:text="*{communityId}" class="list-num">1</td>
                    <td class="list-title"><a th:text="*{commentContent}" th:href="@{/community/detail/{communityId}(communityId=*{communityId})}">샘플용 제목입니다.</a></td>
                    <td th:text="*{#temporals.format(commentRegisterDate, 'yy년 MM월 dd일')}" class="list-date">01-01</td>
                </tr>
                </tbody>
            </table>
            <ul class="list-number ">
                <li style="margin-right: 0.5rem" th:classappend="${startPage == 1} ? 'disabled' : ''" class="page-item">
                    <a class="page-link" th:href="@{/activeList/comment(page=${startPage - 1}, pageSize=${pageSize})}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>

                <li th:each="i : ${#numbers.sequence(startPage, endPage)}" th:classappend="${currentPage == i} ? 'active' : ''" class="page-item" style="display: flex;">
                    <a th:href="@{/activeList/comment(page=${i}, pageSize=${pageSize})}" class="page-link" th:text="${i}">1</a>
                </li>
                <li th:classappend="${endPage == totalPages} ? 'disabled' : ''" class="page-item" style="margin-left: 0.5rem">
                    <a class="page-link" th:href="@{/activeList/comment(page=${startPage - 1}, pageSize=${pageSize})}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </div>

    </div>
</div>
<div th:replace="~{/layout/footer :: footer}"></div>
<!--<script th:src="@{/js/activeList.js}"></script>-->

</body>
</html>