<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>활동내역</title>
    <link rel="stylesheet" th:href="@{/css/user/mypage/CreationList.css}">

    <link rel="stylesheet" th:href="@{/css/main/common.css}">
    <link rel="stylesheet" th:href="@{/css/layout/header.css}">
    <link rel="stylesheet" th:href="@{/css/layout/footer.css}">

</head>
<body>
<div th:replace="~{/layout/header :: header}"></div>
<div class="main">
    <div class="main-container">
        <div class="main-container-title">
            <div class="main-container-title-container">
                <h2 class="title">
                        <span class="title-content">
                            활동내역 목록
                        </span>
                </h2>
            </div>

        </div>

        <div class="tab-btn-container">
            <a class="btn" th:href="@{/activeList/community}">게시글</a>
            <a class="btn" th:href="@{/activeList/comment}">댓글</a>
            <a class="btn active" th:href="@{/activeList/writeReview}">작성한 리뷰</a>
            <a class="btn" th:href="@{/activeList/receiveReview}">받은 리뷰</a>
        </div>

        <!--        게시글을 눌렀을 때      -->
        <div class="main-container-list community" th:if="${totalPages}== 0"><h3>작성하신 리뷰가 없습니다.</h3></div>
        <div class="main-container-list community"  th:unless="${totalPages}== 0">
            <table class="list-container" >
                <thead>
                <tr>
                    <th style="width: 5%">번호</th>
                    <th style="width: 10%" th:text="${session.proName == null ? '전문가이름' : '회원이름'}"></th>
                    <th style="width: 60%">리뷰 내용</th>
                    <th style="width: 10%">별점</th>
                    <th style="width: 10%">등록일</th>
                </tr>
                </thead>
                <tbody id ="commuList">
                <tr th:if="${session.proName}==null" th:each="list : ${lists}" th:object="${list}">
                    <td th:text="*{RN}" class="list-num">1</td>
                    <td th:text="*{proName}" class="list-num">전문가이름</td>
                    <td th:text="*{proReviewContent}" class="list-num">리뷰내용</td>
                    <td class="list-num" style="display: flex;justify-content: center">
                        <img src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTQiIGhlaWdodD0iMTQiIHZpZXdCb3g9IjAgMCAxNCAxNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KICAgIDxwYXRoIGQ9Im03LjQ5NiAxLjU5NiAxLjQwNyAyLjc0MiAzLjE0NS40NGMuOTEuMTI3IDEuMjc1IDEuMjA0LjYxNSAxLjgyMmwtMi4yNzYgMi4xMzQuNTM4IDMuMDE1Yy4xNTUuODcyLS43OTcgMS41MzgtMS42MTIgMS4xMjZMNi41IDExLjQ1MmwtMi44MTMgMS40MjNjLS44MTUuNDEyLTEuNzY3LS4yNTQtMS42MTItMS4xMjZsLjUzOC0zLjAxNUwuMzM3IDYuNmMtLjY2LS42MTgtLjI5Ni0xLjY5NS42MTUtMS44MjJsMy4xNDUtLjQ0IDEuNDA3LTIuNzQyQzUuOTEyLjggNy4wODguOCA3LjQ5NiAxLjU5NiIgZmlsbD0iI0ZGQ0UyMSIgZmlsbC1ydWxlPSJldmVub2RkIi8+Cjwvc3ZnPgo=" alt="">
                        <div th:text="*{proReviewRate}"></div>
                    </td>
                    <td th:text="*{#temporals.format(proReviewDate, 'yy년 MM월 dd일')}" class="list-date">01-01</td>
                </tr>
                <tr th:unless="${session.proName}==null" th:each="list : ${lists}" th:object="${list}">
                    <td th:text="*{RN}" class="list-num">1</td>
                    <td th:text="*{userName}" class="list-num">전문가이름</td>
                    <td th:text="*{userReviewContent}" class="list-num">리뷰내용</td>
                    <td class="list-num" style="display: flex;justify-content: center">
                        <img src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTQiIGhlaWdodD0iMTQiIHZpZXdCb3g9IjAgMCAxNCAxNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KICAgIDxwYXRoIGQ9Im03LjQ5NiAxLjU5NiAxLjQwNyAyLjc0MiAzLjE0NS40NGMuOTEuMTI3IDEuMjc1IDEuMjA0LjYxNSAxLjgyMmwtMi4yNzYgMi4xMzQuNTM4IDMuMDE1Yy4xNTUuODcyLS43OTcgMS41MzgtMS42MTIgMS4xMjZMNi41IDExLjQ1MmwtMi44MTMgMS40MjNjLS44MTUuNDEyLTEuNzY3LS4yNTQtMS42MTItMS4xMjZsLjUzOC0zLjAxNUwuMzM3IDYuNmMtLjY2LS42MTgtLjI5Ni0xLjY5NS42MTUtMS44MjJsMy4xNDUtLjQ0IDEuNDA3LTIuNzQyQzUuOTEyLjggNy4wODguOCA3LjQ5NiAxLjU5NiIgZmlsbD0iI0ZGQ0UyMSIgZmlsbC1ydWxlPSJldmVub2RkIi8+Cjwvc3ZnPgo=" alt="">
                        <div th:text="*{userReviewRate}"></div>
                    </td>
                    <td th:text="*{#temporals.format(userReviewDate, 'yy년 MM월 dd일')}" class="list-date">01-01</td>
                </tr>
                </tbody>
            </table>
            <ul class="list-number ">
                <li style="margin-right: 0.5rem" th:classappend="${startPage == 1} ? 'disabled' : ''" class="page-item">
                    <a class="page-link" th:href="@{/activeList/writeReview(page=${startPage - 1}, pageSize=${pageSize})}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>

                <li th:each="i : ${#numbers.sequence(startPage, endPage)}" th:classappend="${currentPage == i} ? 'active' : ''" class="page-item" style="display: flex;">
                    <a th:href="@{/activeList/writeReview(page=${i}, pageSize=${pageSize})}" class="page-link" th:text="${i}">1</a>
                </li>
                <li th:classappend="${endPage == totalPages} ? 'disabled' : ''" class="page-item" style="margin-left: 0.5rem">
                    <a class="page-link" th:href="@{/activeList/writeReview(page=${startPage - 1}, pageSize=${pageSize})}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<div th:replace="~{/layout/footer :: footer}"></div>
<!--<script th:src="@{/js/activeList.js}"></script>-->

</body>
</html>