ul, ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.pagination .page-item {
  margin: 0 5px;
}
.pagination .page-item .page-link {
  padding: 8px 16px;
  text-decoration: none;
  color: #8da4d0;
  border: 1px solid #ddd;
}
.pagination .page-item .page-link:hover {
  background-color: #ddd;
}
.pagination .page-item.active .page-link {
  background-color: #8da4d0;
  color: white;
  border: 1px solid #8da4d0;
}
.pagination .page-item.disabled .page-link {
  color: #ccc !important;
  pointer-events: none !important;
  border: 1px solid #ddd;
}

.pro-pagination