<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" th:href="@{/css/user/mypage/mypage.css}">
  <link rel="stylesheet" th:href="@{/css/main/common.css}">
  <link rel="stylesheet" th:href="@{/css/layout/header.css}">


  <title>전문가 마이페이지</title>
</head>
<body>
<div th:replace="~{/layout/header :: header}"></div>
<div class="container">
  <div class="padding3">
    <h1>마이페이지</h1>
  </div>
  <ul class="underline">
    <li class="li-padding ">
      <a th:href="@{/pro/detail}" class="oneline"> <!-- 개인정보 상세보기 페이지 -->
        <div class="auto">개인정보 상세보기</div>
        <div>
          <img src="https://assets.cdn.soomgo.com/icons/icon-mypage-list-arrow.svg">
        </div>
      </a>
    </li>
    <li class="li-padding ">
      <a th:href="@{/pro/edit}"  class="oneline"> <!-- 개인정보 수정 페이지 -->
        <div class="auto">개인정보 수정하기</div>
        <div>
          <img src="https://assets.cdn.soomgo.com/icons/icon-mypage-list-arrow.svg">
        </div>
      </a>
    </li>
  </ul>

  <div class="mypage-menu">
    <ul class="underline">
      <li class="main-list li-padding">내 지갑</li>
      <li class="li-padding oneline">
        <div class="auto">보유 포인트</div>
        <div class="circle procircle">
          <!-- ? : 보유캐시 뿌려주는곳 -->
          <span th:text="${mypage.userCash}">?</span>
          <span>캐시</span>
        </div>
      </li>
    </ul>
    <ul class="underline">
      <li class="main-list li-padding">활동 내역</li>
      <!-- 내가 쓴 게시글목록 이동 -->
      <li class="li-padding">
        <a th:href="@{/activeList/community}" class="oneline">
          <div class="auto">내가 쓴 게시글</div>
          <div>
            <img src="https://assets.cdn.soomgo.com/icons/icon-mypage-list-arrow.svg">
          </div>
        </a>
      </li>
      <!-- 내가 쓴 댓글목록 이동 -->
      <li class="li-padding">
        <a href="#" class="oneline">
          <div class="auto">내가 쓴 댓글</div>
          <div>
            <img src="https://assets.cdn.soomgo.com/icons/icon-mypage-list-arrow.svg">
          </div>
        </a>
      </li>
      <!-- 내가 쓴 리뷰목록 이동 -->
      <li class="li-padding">
        <a href="#" class="oneline">
          <div class="auto">내가 쓴 리뷰</div>
          <div>
            <img src="https://assets.cdn.soomgo.com/icons/icon-mypage-list-arrow.svg">
          </div>
        </a>
      </li>
    </ul>
  </div>

</div>


</body>
</html>