
.detail-container > .certify-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 900px;
  /* padding: 0 16px; */
  margin: 20px auto 30px auto;
  min-height: 800px;

  & >div>h2+p{
    margin: 0px 0px 24px;
    padding: 12px;
    border-radius: 8px;
    background: rgb(242, 242, 242);
    color: rgb(115, 115, 115);
    font-size: 14px;
    font-weight: bold;
  }
}

.certifyForm{
  display: flex;
}


.container .sub-container{
  margin-top: 20px;
  padding: 40px 40px 20px 40px;
  border: 1px solid rgb(228, 229, 237);
  border-radius: 10px;
  display: flex;
  min-width: 800px;
}
.sub-container .underline{
  /* width: 600px; */
  border-bottom: .0625rem solid;
  border-color: #f2f2f2;
  margin-bottom: 0.7rem;
}
.underline2{
  /* width: 600px; */
  border-bottom: .0625rem solid;
  border-color: #f2f2f2;
  padding:0 0 0.7rem 0 !important;
}
.sub-container .underline p, #certify div{
  margin: 10px 0 8px 0;
}


#certify .col p{
  margin: 5px 0 8px 0;
  font-size: 13px;
  color: rgba(33, 37, 41, 0.75);
  font-weight: bold;
}


.certi-con, .lo-con{
  width: 100%;
  padding: 0 0px;
  margin-left: 10px;

}
.certi-label{
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
}

.height250{
  width: 100%;
  margin-bottom: 20px; 
  /* textarea와 버튼 사이의 간격 */
  /*height: 250px;*/
  overflow:hidden;
}
.textarea{
  overflow: auto;
  outline: none;
  width: 100%;
  height: 80px;
  margin-bottom: 10px;
  border-color: #e0e0e0;
  border-radius: 0.375em;
  display: block;
  cursor: text;
  color: #303441;
  padding: 14px;
  font-size: 13px;
  resize: none;
  letter-spacing:1px;  
  &:hover,&:focus{
    position: inherit;
    border-color: #93A9D1;
  }
  &:focus{
    outline: none;
  }
  
}
#proEdit .textarea{
  &:hover,&:focus{
    position: inherit;
    border-color: #F8CACC;
  }
  &:focus{
    outline: none;
  }
}
.plus,.minus,.awardPlus,.awardMinus{
  font-size: 25px;
  padding: 0rem 0.3rem 0.3rem 0.3rem;
  cursor: pointer;
}
/*.minus,.awardMinus{*/
/*  display: none;*/
/*}*/
.margin5{
  margin: 0.5rem 0;
}
/*#proImg{*/
/*  width: 120px;*/
/*  height: 120px;*/
/*  border: 1px solid rgb(228, 229, 237);*/
/*  border-radius: 5px;*/
/*  overflow: hidden;*/
/*  background-color: #fff;*/

/*}*/
/*#proImg img {*/
/*  max-width: 100%;*/
/*  max-height: 100%;*/
/*}*/
