#modal.container {
  position: fixed;
  width: 100vw;
  height: 100vh;
    max-width: none !important;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: none;
  align-items: center;
  justify-content: center;
  background: rgba(71, 58, 58, 0.25);
  letter-spacing:3px;
  z-index: 1000;
}
.box-container{
  width: 520px;
  margin: 0 auto;
  border-radius: 8px;
  border: solid 1px #e0e0e0;
  background-color: #fff;
}
.box-header{
  padding: 24px 32px;
  border-bottom: solid 1px #e0e0e0;
  color: #212121;
  font-size: 24px;
  line-height: 36px;
  font-weight: 400;
}
.box-content{
  padding: 24px 32px 32px;

}
.description{
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  margin-bottom: 32px;
}
.title{
  margin-bottom: 16px;
  font-weight: 600;
}
.input-box{
  display: block;
  border-radius: 4px;
  border: 1px solid #e0e0e0;
  font-size: 14px;
  line-height: 24px;
  color: #616161;
  font-weight: 400;
  background: transparent;
  width: 100%;
  height: inherit;
  padding: 8px 10px;
  letter-spacing:5px;
  &:hover,&:focus{
    position: inherit;
    border-color:#93A9D1;
  }
  &:focus{
    outline: none;
  }

}

.pro-input-box{

  &:hover,&:focus{
    position: inherit;
    border-color: #F8CACC;
    outline: none;
  }

}

.btn{
  cursor: pointer;
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  border-radius: 4px;
  padding: 11px 0px;
  margin-top: 24px;
  background-color:#8da4d0;
  border:2px solid #8da4d0;
  color: #fff !important;
  width: 100%;
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
  &:hover,&:focus{
    position: inherit;
    font-weight: bolder !important;
    border: 2px solid #7a8eb5 !important;
  }
}
.pro-btn{
  background-color:#F8CACC;
  color: #020202 !important;
  border: 1.3px solid #F8CACC;
  &:hover,&:focus{
    position: inherit;
    border-color: #F8CACC !important;
    border: 1.3px solid #d0aaac  !important;
  }

}

.error{
  color:red;
  display: none;
  margin-bottom: 0;
}