<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" th:href="@{/css/main/login.css}">
  <title>로그인</title>
</head> 
<body>
        <div class="login-main">
            
            <div class="login-container">
              <div class="login-box">
                <div class="txt txt-sz24">로그인</div>
                <form action="#">
                  <div class="input-box">
                    <input class= "login-input" maxlength="100" name="username" type="text" required>
                    <label>아이디 또는 이메일</label>
                  </div>
                  <div class="input-box">
                    <input class= "login-input lower" maxlength="33" name="password" type="password" required>
                    <label>비밀번호</label>
                  </div>
                  <div class="sub-action">
                    <div class="pw-find">
                      <a href="" class="link-txt">아이디/비밀번호 찾기</a>
                    </div>
                  </div>
                  <button class="btn login-btn btn-11-24">로그인</button>
        
                </form>
                <div class="social-login-box">
                  <div class="social-login-seperator">또는</div>

                  <!-- 카카오 api -->
                  <a href="/oauth2/authorization/kakao" class="social-button" style="border: none;" type="button">
                    <img th:src="@{/img/kakao_login_large_wide.png}" style="width: 700px; height: 60px;">
                  </a>
                  <!-- <a class="social-button lower" style="width: 465px; height: 30px; margin: 0;" type="button">
                    <img src="https://account.wishket.com/static/renewal/img/wishket-member/img-btn-google.png">
                    <div style="font-size: 20px;">구글 로그인</div>
                  </a> -->
                </div>
                <div class="login-sign">
                  아직 FPI 회원이 아니신가요?
                  <a href="" class="link-txt">회원가입</a>
              </div>
        </div>

</body>
</html>