<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>커뮤니티</title>
    <link rel="stylesheet" th:href="@{/css/main/common.css}">
    <link rel="stylesheet" th:href="@{/css/layout/header.css}">
    <link rel="stylesheet" th:href="@{/css/board/community.css}">
    <link rel="stylesheet" th:href="@{/css/user/req_list/pagination.css}">

    <link rel="stylesheet" th:href="@{/css/layout/footer.css}">



</head>
<body>
<div th:replace="~{/layout/header :: header}"></div>

<div class="main">
    <div class="main-container">
        <div class="main-container-title">
            <div class="main-container-title-container">
                <h2 class="title">
                    <span class="title-content">
                        커뮤니티
                    </span>
                </h2>
            </div>
        </div>

        <div class="search-container">
            <div class="search-input">
                <input type="text" name="search" onkeyup="enterkey()" placeholder="검색해보세요!" >
                <div class="delete-button">
                    <img src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAgMCAyNCAyNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KICAgIDxnIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0iZXZlbm9kZCI+CiAgICAgICAgPHBhdGggZD0iTTAgMGgyNHYyNEgweiIvPgogICAgICAgIDxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKDMgMykiPgogICAgICAgICAgICA8Y2lyY2xlIGZpbGw9IiNDNUM1QzUiIGN4PSI5IiBjeT0iOSIgcj0iOSIvPgogICAgICAgICAgICA8cGF0aCBzdHJva2U9IiNGRkYiIHN0cm9rZS13aWR0aD0iMS41IiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIGQ9Im02IDYgNi4wMDUgNi4wMDZNMTIuMDA1IDYgNiAxMi4wMDYiLz4KICAgICAgICA8L2c+CiAgICA8L2c+Cjwvc3ZnPgo=" alt="검색어 삭제아이콘">
                </div>
            </div>
            <div>
                <a class="write-box" sec:authorize ="isAuthenticated()"  th:href="@{/community/write}">글쓰기</a>
            </div>
        </div>


        <div class="community-container">
            <div class="category-list aside">
                <a th:href="@{/community}" class="selected">전체</a>
                <a th:href="@{/freeTalk}">자유게시판</a>
                <a th:href="@{/proTip}">전문가 팁</a>
            </div>
            <div class="content-layout">
                <div class="feed">
                    <ul class="feed-list" th:each="commu : ${commus}" th:object="${commu}">
                        <li class="feed-item">
                            <a th:href="@{/community/detail/{communityId}(communityId=*{communityId})}">
                                <div class="feed-container">
                                    <div class="item-wrapper">
                                        <h3 class="item-title" th:text="*{communityTitle}">

                                        </h3>
                                        <div class="item-content" th:utext="*{communityContent}"></div>
                                    </div>

                                    <div th:unless="*{communityThumbnail == null or communityThumbnail == '' or communityThumbnail == 'dd'}">
                                        <img style="background-repeat: no-repeat;width: 150px;height: 150px" th:src="*{communityThumbnail}" alt="img">
                                    </div>
                                    <div th:if="*{communityThumbnail == null or communityThumbnail == '' or communityThumbnail == 'dd'}">
                                        <img style="background-repeat: no-repeat;width: 150px;height: 150px" th:src="@{/img/커뮤니티 기본.png}" alt="img">
                                    </div>

                                </div>
                            </a>
                            <div class="feed-footer">
                                <div>
                                    <div class="footer-like" th:text="*{likeCount}">

                                    </div>
                                    <div class="footer-comment">
                                        0
                                    </div>
                                </div>
                                <div>
                                    <div class="footer-date" style="margin-right: 2rem" th:text="'작성자 : '+ *{userName}"></div>
                                    <div class="footer-date" th:text="*{#temporals.format(communityUpdateDate, 'YY-MM-dd')}"></div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <ul class="pagination">

        </ul>
    </div>
</div>
<div th:replace="~{/layout/footer :: footer}"></div>
</body>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>

<!--    엔터키 누르면 savekeyword실행(맨아래에서 지정함, )-->
    function enterkey() {
        if (window.event.keyCode == 13) {
            saveKeyword();
        }
    }

    const pageSize = 5; //페이징 사이즈,ajax에 쓸것임
    let search = null;
<!--    페이지 시작시 해당 함수 실행-->
    window.onload = function(){
        search = $('input[name="search"]').val(); //input태그에 name이 search인곳 value를 ajax의 search에 넣을것임
        getList(1); //해당 함수 실행,첫번째 페이지 뿌려줌
    }
    function getList(page){
        $.ajax({
            method:'get', //방식
            url:'/community', //보낼곳,컨트롤러적을것임
            data: {
                page: page,
                size: pageSize,
                search: search
            },
            success:function (data){
                // 성공시 리스트 뿌려주는 함수.
                // renderUploadList(data.content);
                // 페이징 처리
                renderPagination(data)
            },
            error:function (){
                console.error('실패')
            }

        })
    }


    // 페이징
    function renderPagination(pagination) {
        const PaginationContainer = $('.pagination'); //클래스이름
        PaginationContainer.empty(); //비워줌

        // 이전 버튼
        const prevDisabled = pagination.currentPage === 1 ? 'disabled' : ''; //현재 페이지가 1이면 비활성화

        PaginationContainer.append(`
            <li class="page-item ${prevDisabled}">
                <a class="page-link" href="#" aria-label="Previous" data-page="${pagination.currentPage - 1}">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
        `); //해당요소들 추가

        for (let i = pagination.startPage; i <= pagination.endPage; i++) {
            const activeClass = pagination.currentPage === i ? 'active' : ''; //값이 같으면 활성화

            PaginationContainer.append(`
            <li class="page-item ${activeClass}">
                <a class="page-link" href="#" data-page="${i}">${i}</a>
            </li>
        `);
        } //반복문 돌려서 해당값 추가

        const nextDisabled = pagination.currentPage === pagination.totalPages ? 'disabled' : ''; //다음버튼

        PaginationContainer.append(`
            <li class="page-item ${nextDisabled}">
                <a class="page-link" href="#" aria-label="Next" data-page="${pagination.currentPage + 1}">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        `);

        // 클래스가 .page-link인 요소를 클릭했을때(a링크에 지정되어있고 위에서 append로 추가해주었음)
        $('.page-link').click(function(event) {
            event.preventDefault(); //기본동작 없앰
            const selectedPage = $(this).data('page');
            getList(selectedPage);
        });
    }

    //
    function saveKeyword(){
        search = $('input[name="search"]').val();
        getList(1);
    }
</script>
</html>