<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>커뮤니티</title>
    <link rel="stylesheet" th:href="@{/css/layout/header.css}">
    <link rel="stylesheet" th:href="@{/css/main/common.css}">
    <link rel="stylesheet" th:href="@{/css/board/Community.css}">
</head>
<body>
<div th:replace="~{/layout/header :: header}"></div>

<div class="main">
    <div class="main-container">
        <div class="main-container-title">
            <div class="main-container-title-container">
                <h2 class="title">
                    <span class="title-content">
                        커뮤니티
                    </span>
                </h2>
                <button class="write-box">>
                    <a th:href="@{/write}">글쓰기</a>
                </button>
            </div>
        </div>

        <div class="community-container">
            <div class="category-list">
                <ul>
                    <li><a th:href="@{/community}">전체</a></li>
                    <li><a th:href="@{/freeTalk}">자유게시판</a></li>
                    <li class="selected"><a th:href="@{/proTip}">프로 팁</a></li>
                </ul>
            </div>
            <div class="content-layout">
                <div class="feed">
                    <ul class="feed-list" th:each="commu : ${commus}" th:object="${commu}">


                        <li class="feed-item">
                            <a th:href="@{/detail/{communityId}(communityId=*{communityId})}">
                                <div class="feed-container">
                                    <div class="item-wrapper">
                                        <h3 class="item-title" th:text="*{communityTitle}">
                                            <!--                                            청소해드립니다~-->
                                        </h3>
                                        <p class="item-content" th:text="*{communityContent}">
                                            <!--                                            🎈안녕하세요! 청소맛집 청소로움입니다.🎈   편하고 안락한 🏠 내집청소! 구석구석 묵은때를 깨끗하고🫧 꼼꼼하게🧼 해드리겠습니다  ❗️청소로움만의 차이점❗️  1️⃣ 전국 모든지역 방문 가능  2️⃣ 100% 직영팀 운영을 통한 합리적 가격  3⃣ 고가의 바닥전용장비 보...-->
                                        </p>
                                    </div>
                                    <img width="80" height="80" src="https://e7.pngegg.com/pngimages/982/97/png-clipart-computer-icons-camera-iphone-graphy-camera-photography-camera-icon.png" alt="img">
                                </div>
                                <div class="feed-footer">
                                    <div>
                                        <div class="footer-like" th:text="*{likeCount}">
<!--                                            0-->
                                        </div>
                                        <div class="footer-comment">
                                            0
                                        </div>
                                    </div>
                                    <div class="footer-date" th:text="*{#temporals.format(communityUpdateDate, 'MM-dd')}">
                                        <!--                                        01.01-->
                                    </div>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>