<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>글작성</title>
    <link rel="stylesheet" href="../../static/css/common(1)/WriteForm.css">
</head>
<body>
<div class="main">
    <div class="main-container">
        <div class="write-box">
            <div class="title-info">
                제목 :
            </div>
            <label class="title-input">
                <input type="text">
            </label>
        </div>
        <div class="write-box">
            <label class="service-area">
                <select class="service-part">
                    <option>
                        게시판 선택
                    </option>
                    <option>
                        자유게시판
                    </option>
                    <option>
                        프로 팁
                    </option>
                </select>
            </label>
        </div>
        <div class="content">
            <textarea class="content-text"></textarea>
        </div>
        <div class="content-footer">
            <button>
                첨부파일
            </button>
            <button>
                작성 완료
            </button>
        </div>
    </div>
</div>


</body>
</html>