<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.fpi.mapper.admin.AdminMapper">

<!--    Noti 부분     -->
    <!--  Noti 게시글 목록 가져오기  -->
    <select id="notiSelectAll" resultType="NotiDTO">
        SELECT *
        FROM (
                 SELECT ROWNUM AS RN, NOTI.*
                 FROM (
                          SELECT
                              N.NOTI_ID,
                              N.NOTI_TITLE,
                              N.NOTI_CONTENT,
                              N.NOTI_REGISTER_DATE,
                              N.NOTI_UPDATE_DATE
                          FROM TBL_NOTI N
                          ORDER BY
                              NOTI_REGISTER_DATE DESC
                      ) NOTI
                 WHERE ROWNUM &lt;= #{endRow}
             )
        WHERE rn &gt; #{startRow}
    </select>

    <!-- Noti 총 게시글의 갯수  -->
    <select id="countNoti">
        select count(*)
        from tbl_Noti
    </select>

    <!--  Noti 게시글 상세보기  -->
    <select id="selectNotiDetail" resultType="NotiDetailDTO">
        SELECT
            NOTI_ID,
            NOTI_TITLE,
            NOTI_CONTENT,
            NOTI_REGISTER_DATE,
            NOTI_UPDATE_DATE
        FROM TBL_NOTI
        WHERE NOTI_ID = #{notiId}
    </select>

<!--    Noti 게시글 최근 5개만 가져오기-->
    <select id="selectRecentNoti" resultType="NotiDetailDTO">
        SELECT NOTI_ID, NOTI_TITLE
        FROM (
                SELECT
                    NOTI_ID,
                    NOTI_TITLE
                FROM TBL_NOTI
                ORDER BY NOTI_REGISTER_DATE DESC
            )
        WHERE ROWNUM &lt;= 5
    </select>

<!--    insert에 사용    -->
    <select id="getSeq" resultType="long">
        select SEQ_ADMIN.nextval from dual
    </select>
<!--    작성  -->
    <insert id="saveNoti">
        insert into TBL_NOTI
        values(#{notiId}, #{notiTitle}, #{notiContent}, sysdate, sysdate)
    </insert>
<!--    수정  -->
    <update id="updateNoti">
        update tbl_noti
        set NOTI_TITLE = #{notiTitle},
            NOTI_CONTENT = #{notiContent},
            NOTI_UPDATE_DATE = sysdate
        where NOTI_ID = #{notiId}
    </update>

    <!--  Noti 게시글 삭제하기  -->
    <delete id="deleteNoti">
        delete from TBL_NOTI
        where NOTI_ID = #{notiId}
    </delete>




<!--    FAQ 부분      -->
    <!--  FAQ 게시글 목록 가져오기  -->
    <select id="faqSelectAll" resultType="FaqDTO">
        SELECT *
        FROM (
                 SELECT ROWNUM AS RN, FAQ.*
                 FROM (
                          SELECT
                              F.FAQ_ID,
                              F.FAQ_TITLE,
                              F.FAQ_CONTENT,
                              F.FAQ_REGISTER_DATE,
                              F.FAQ_UPDATE_DATE
                          FROM TBL_FAQ F
                          ORDER BY
                              FAQ_REGISTER_DATE DESC
                      ) FAQ
                 WHERE ROWNUM &lt;= #{endRow}
             )
        WHERE rn &gt; #{startRow}
    </select>

    <!-- FAQ 총 게시글의 갯수  -->
    <select id="countFaq">
        select count(*)
        from tbl_FAQ
    </select>

    <!--  FAQ 게시글 상세보기  -->
    <select id="selectFaqDetail" resultType="FaqDetailDTO">
        SELECT
            FAQ_ID,
            FAQ_TITLE,
            FAQ_CONTENT,
            FAQ_REGISTER_DATE,
            FAQ_UPDATE_DATE
        FROM TBL_FAQ
        WHERE FAQ_ID = #{faqId}
    </select>

    <!--    FAQ 게시글 최근 5개만 가져오기-->
    <select id="selectRecentFaq" resultType="FaqDetailDTO">
        SELECT FAQ_ID, FAQ_TITLE
        FROM (
                 SELECT
                     FAQ_ID,
                     FAQ_TITLE
                 FROM TBL_FAQ
                 ORDER BY FAQ_REGISTER_DATE DESC
             )
        WHERE ROWNUM &lt;= 5
    </select>

    <!--    작성  -->
    <insert id="saveFaq">
        insert into TBL_FAQ
        values(#{faqId}, #{faqTitle}, #{FaqContent}, sysdate, sysdate)
    </insert>
    <!--    수정  -->
    <update id="updateFaq">
        update tbl_faq
        set FAQ_TITLE = #{faqTitle},
            FAQ_CONTENT = #{faqContent},
            FAQ_UPDATE_DATE = sysdate
        where FAQ_ID = #{faqId}
    </update>

    <!--  FAQ 게시글 삭제하기  -->
    <delete id="deleteFaq">
        delete from TBL_FAQ
        where FAQ_ID = #{faqId}
    </delete>

</mapper>