<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.fpi.mapper.user.CertifyMapper">
<!--전문가 인증 테이블-->
<!--        전문가 테이블에 정보 추가-->
    <insert id="addPro">
        insert into TBL_PRO (PRO_ID, PRO_NAME, PHONE_NUMBER, PRO_IMG, PRO_STAR_RATE, EMP_CNT, LOCATION_ID, USER_ID)
        values (#{proId},#{proName},#{phoneNumber},#{proImg},0,0,#{locationId},#{userId})
    </insert>
<!--    자격증 테이블 정보추가-->
    <insert id="addCardInfo">
        insert into TBL_CARDINFO
        values (#{cardInfoId},#{certiOrgan},#{certiNum},#{proId})
    </insert>
<!--    자격증 사진 추가-->
    <insert id="addCardInfoFile">
        insert into TBL_CARDINFO_FILE
        values (#{cardInfoFileId},#{cardInfoFileRoute},#{cardInfoFileOriginal},#{cardInfoId})
    </insert>
<!--    경력사항 테이블 정보 추가-->
    <insert id="addCareerInfo">
        insert into TBL_CAREERINFO
        values (#{careerInfoId},#{award},#{proId})
    </insert>
<!--    선택한 카테고리를 카테고리 리스트테이블에 추가-->
    <insert id="insertProCategory">
        insert into TBL_CATEGORY_LIST(category_list_id, category_id, pro_id)
        values (#{categoryListId},#{categoryId},#{proId})
    </insert>

<!--    전문가 인증되면 회원테이블의 전문가인증컬럼 값 변경-->
    <update id="updateApproval">
        update tbl_user
        set USER_PRO_APPROVAL = 'YES'
        where user_id =#{userId}

    </update>


<!--    시퀀스 테이블들의  값 가져올때 사용-->
    <select id="getProSeq">
        select SEQ_PRO.nextval from dual
    </select>

    <select id="getInfoSeq">
        select SEQ_INFO.nextval from dual
    </select>

    <select id="getFileSeq">
        select SEQ_FILE.nextval from dual
    </select>

</mapper>

