<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.fpi.mapper.pro.ProMapper">
<!--    전문가 마이페이지의 상세보기-->
    <select id="detailPro">
        SELECT p1.*, c.category_name
        FROM (SELECT p.pro_id, p.pro_name, p.phone_number, p.pro_img, p.emp_cnt,u.email, u.user_cash, p.pro_star_rate, l.region, l.city, cl.category_id
              FROM tbl_pro p
                       JOIN tbl_location l ON p.location_id = l.location_id
                       JOIN tbl_category_list cl ON p.pro_id = cl.pro_id
                       JOIN tbl_user u ON p.user_id = u.user_id
             ) p1
                 JOIN tbl_category c ON p1.category_id = c.category_id
        WHERE p1.pro_id = #{proId}

    </select>

    <select id="selectProId">
        select pro_id
        from tbl_pro
        where user_id=#{userId}
    </select>
<!--    전문가 탈퇴-->
    <delete id="deletePro">
        delete from tbl_pro
        where pro_id=#{proId} and pro_name = #{proName}
    </delete>

</mapper>